 @charset "utf-8";

 :root {
   --bg-color : #2C3333;
   --main01-color : #F7ECDE;
   --main02-color : #1876f2;
   --main03-color : #FFE162;
   --main04-color : #fff;
   --main05-color : #C4C4C4;
   --main06-color : #f5f5f5;
 }

 .light-theme {
  --bg-color : #f5f5f5;
  --main01-color : #2C3333;
  --main02-color : #1876f2;
  --main03-color : #1876f2;
  --main04-color : #141414;
  --main06-color : #333;
 }

  /***** reset *****/
  *, *::before, *::after {box-sizing: border-box;}
  html {-webkit-text-size-adjust: none; text-size-adjust: none; font-size:14px;}
  body {margin: 0;}
  html,body,div,span,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,blockquote,p,address,pre,cite,form,fieldset,input,textarea,select,table,th,td{padding:0;margin:0}
  h1, h2, h3, h4, h5, h6 {font-weight: 800;}
  fieldset,img,abbr,acronym{border:0 none}
  ul,ol{list-style-type:none}
  address, caption, em, cite{font-weight:normal;font-style:normal}
  b,strong{font-weight:normal;}
  a{color: inherit; text-decoration: inherit;}
  li {list-style: none;}
  img {vertical-align: middle; max-width: 100%;}
  address, em, i, cite {font-style: normal;}
  fieldset, button, input, select{vertical-align:middle}
  table {border-collapse: collapse;}
  table caption {overflow: hidden; width: 0; height: 0;}
  i[class^="xi"] {position: relative; display: inline-block; vertical-align: middle;}
  i[class^="xi"] span {position: absolute; left: -9999px;}
  .ir-hidden {position: absolute; left: -9999px;}
  textarea:focus, input:focus, select:focus{outline:0;}
  input, textarea {font-family: inherit;}
  .mobile {display: none !important;}

  /******common******/
  body {color:var(--main01-color); font-family: 'NotoSansKR', sans-serif; font-weight: 400; line-height: 1.4; background-color: var(--bg-color);}
  body.dark-theme {color: #141414; background-color: var(--main01-color);}
  #wrapper {overflow: hidden;}
  #skip-nav {position: fixed; left: 0; top: -40px; width: 100%; line-height: 40px; text-align: center; background-color: rgba(0, 0, 0, 0.8); color: var(--main04-color)fff; font-size: 16px; transition: top 0.3s; z-index: 100000;}
  #skip-nav:focus {top: 0;}
  ::selection {background-color: #e9d649; color: var(--main04-color);}

  /*header*/
  header {margin-bottom: 115px;color: var(--main01-color);}
  header .hd-top {border-bottom: 1px solid var(--main01-color); width: 100%; height: 75px;line-height: 75px; padding: 0 50px;}
  header .hd-top .content-box {display: flex;justify-content: space-between;}
  header .hd-top h1{text-align: left; font-size: 1rem;}
  header .hd-top h1 a {color: var(--main01-color); border: 1px solid var(--main01-color); padding: 5px 15px; transition: all .2s ease;} 
  header .hd-top h1 a:hover {color: #e9d649; background-color: var(--main02-color); border-color: var(--main02-color);}
  header .hd-top em {font-size: 1.5rem; text-align: right; color: var(--main02-color);}
  header nav {width: 100%; padding: 0 50px; height: 75px;line-height: 75px;}
  header nav .content-box {display: flex; justify-content: space-between;}
  header nav .left em {display: block; font-weight: 400;}
  header nav .left em b {color: var(--main03-color);}
  header nav .right {display: flex;}
  header nav .right a {padding-left: 20px; transition: all ease .2s; font-size: 14px;}
  header nav .right a:hover {text-decoration: underline; color: var(--main03-color); transform: translateY(5px);}
  header .flt-nav {position: fixed; right: 0; top: 50%; transform: translate(0,-50%);}
  header .flt-nav a {display: block; writing-mode: vertical-rl;margin: 1.5rem; font-size: .8rem; color: var(--main01-color); transition: all .2s ease;}
  header .flt-nav-left {position: fixed; left: 0; top: 50%; transform: translate(0,-50%); text-align: center;}
  header .flt-nav-left a {display: block; margin: 1.5rem; color: var(--main01-color); font-size: 1.4rem; transition: all .2s ease;}
  header .flt-nav-left a:hover,
  header .flt-nav a:hover {color: var(--main03-color);}
  header h1,
  footer h1 {font-family: 'Montserrat', sans-serif;}

  #light-btn {background: #0a0a0a; width: 45px; height: 23px; border-radius: 15px; padding: 2px 3px; cursor: pointer; display: flex; transition: padding-left .5s ease, background .5s ease; margin-left: 20px; margin-top: 25px;}
  #light-btn span {width: 18px; height: 18px; background: var(--main04-color); border-radius: 50%; display: inline-block;}
  #light-btn.light-btn-on {padding-left: 23px; background: #ddd;} 

  /*main*/
  #main .last-part {text-align: center;padding: 150px 0 170px;}
  #main .last-part h3 {font-size: 23px;font-weight: 900;margin-bottom: 10px;color: #333;}
  #main .last-part p {font-size: 10px;font-weight: 300;line-height: 1.5;color: #333;}
  #main section {text-align: center;}
  #main section + section {padding: 80px 0;}
  #main section h2.tit {font-weight: 800; font-size: 30px; margin-bottom: 45px; position: relative; color: var(--main02-color);}
  #main section h2.tit::after {content: ''; position: absolute; bottom: -12px; left: 50%; transform: translateX(-50%); width: 50px; height: 4px; background-color: var(--main02-color);}
  #main .intro .intro-top {margin-bottom: 150px;}
  #main .intro .intro-top p {font-size: 30px; font-family: 'Sedan SC Regular';} 
  #main .intro .intro-top h2 {font-size: 65px; line-height: 1.2; font-weight: 900;margin: 20px 0 40px; color: var(--main04-color);}
  #main .intro .intro-btm {position: relative;}
  #main .intro .intro-btm p {font-weight: 400; line-height: 1.5; background-color: var(--bg-color); display: inline-block; padding: 0 40px;}
  #main .intro .intro-btm::after {content: '';display: inline-block;width: 100%;height: 1px;background-color: var(--main05-color);position: absolute;left: 0;top: 50%;z-index: -1;}
  #main .aboutme .abt-wrap {display: flex;flex-wrap: wrap; justify-content: space-between;}
  #main .aboutme .abt-wrap > div {border:1px solid var(--main05-color);padding: 20px;}
  #main .aboutme .abt-wrap > div:first-child, 
  #main .aboutme .abt-wrap > div:nth-child(2) {width: calc(100% / 2 - 5px);}
  #main .aboutme .abt-wrap > div:nth-child(3) {width: 100%;margin-top: 10px;}
  #main .aboutme .abt-wrap > div ul {padding-top: 30px;}
  #main .aboutme .abt-wrap > div ul li {font-size: 14px;line-height: 2;border-bottom: 1px solid #ddd;padding: 10px 20px;width: 100%;text-align: left;}
  #main .aboutme .abt-wrap > div ul li:last-child {border-bottom: none;}
  #main .aboutme .abt-wrap > div ul li p,
  #main .aboutme .abt-wrap > div ul li span {font-weight: 400; display: inline-block;}
  #main .aboutme .abt-wrap > div ul li span {color: #777;}
  #main .aboutme .abt-wrap > div.edu ul li em {display: block; margin-bottom: 10px; font-weight: 500;font-size: 16px;}
  #main .aboutme .abt-wrap > div.edu ul li p span {padding-left: 15px;}
  #main .aboutme .abt-wrap > div.career ul li em {display: inline-block;width: 34%;vertical-align: top;font-weight: 500;font-size: 16px;}
  #main .aboutme .abt-wrap > div.career ul li p {width: 50%;}
  #main .aboutme .abt-wrap > div.skill ul.skill-list.sub {display: flex; justify-content: space-between; align-items: center; }
  #main .aboutme .abt-wrap > div.skill ul.skill-list.sub li {border-bottom: none; text-align: center;}

  /*about*/
  #main .project .project-wrap + .project-wrap {padding-top: 80px;}
  #main .project .project-cont {display: flex; justify-content: space-between; text-align: left; margin-bottom: 2rem; flex-wrap: wrap; gap: 5px;}
  #main .project .project-cont li {width: calc(100% / 3 - 5px); height: auto; background-color: var(--main06-color); border-radius: 6px; overflow: hidden; box-shadow: 2px 3px 8px rgb(0 0 0 / 2%); transition: all .3s linear;}
  #main .project .project-cont li:hover {transform: translateY(-3px);}
  #main .project .project-cont li .thum-img {width: 100%; height: auto; overflow: hidden;}
  #main .project .project-cont li .thum-img img {width: 100%; height: 100%; object-fit: cover;}
  #main .project .project-cont li .txt-cont {width: 100%; height: auto; overflow: hidden; padding: 1.5rem 1.5rem 2rem;}
  #main .project .project-cont li img {display: block; width: auto; height: 100%; transition: all .4s ease;}
  #main .project .project-cont li img:hover {transform: scale(1.05);}
  #main .project .project-cont li p {margin-bottom: .8rem; font-weight: 700; color: var(--bg-color); font-size: 1.1rem;}
  #main .project .project-cont li p i {font-weight: 400; font-size: 1rem;}
  #main .project .project-cont li span {font-size: 14px; color: #999; line-height: 2;}
  #main .project .live-btn {display: flex; justify-content: flex-start; align-items: center; text-align: center; margin-top: 1.7rem;}
  #main .project .live-btn a {display: block; width: calc(100% / 3.5); margin-right: 3px; background-color: var(--bg-color); color: var(--main04-color); font-size: .8rem; font-weight: 400; height: 2.5rem; line-height: 2.3rem; letter-spacing: 1px; transition: all .2s linear; border: 1px solid var(--bg-color); border-radius: 4px;}
  #main .project .live-btn a span {display: inline-block; font-size: inherit; color: inherit; font-weight: 700;}
  #main .project .live-btn a:hover {background-color: var(--main02-color); border-color: var(--main02-color);}
  #main .project .more-btn {font-size: 1.2rem; color: var(--main01-color); font-weight: 700;}


  .project-top3 ul {margin-bottom: 10rem;}
  .project-top3 ul {display: flex; flex-direction: column;}
  .project-top3 ul li {display: flex; justify-content: space-between; align-items: center; flex-wrap: nowrap;}
  .project-top3 ul li + li {margin-top: 3rem;}
  .project-top3 ul li .top3-thum {width: 50%; border-radius: 5px; overflow: hidden;}
  .project-top3 ul li .top3-thum img {width: 100%; object-fit: cover;}
  .project-top3 ul li .top3-cont {text-align: left; width: 50%; height: 100%; color: var(--main04-color); padding: 2rem; border-radius: 5px;}
  .project-top3 ul li .top3-cont span {display: block; margin-bottom: 1rem;}
  .project-top3 ul li .top3-cont > span:nth-of-type(1)::after {content: ''; width: 4rem; height: 1px; display: inline-block; margin-left: .7rem; background-color: var(--main04-color);} 
  .project-top3 ul li .top3-cont em {font-size: 2.5rem; font-weight: 700; margin-bottom: 1.2rem; display: block;}
  .project-top3 ul li .top3-cont .sub-tit {margin-bottom: 1rem; color: var(--main06-color);}
  .project-top3 ul li .top3-cont .cont-txt {line-height: 1.5; margin-bottom: 2rem;}
  .project-top3 ul li .top3-cont .live-btn a {border-color: var(--main06-color) !important}




  .contact {margin-bottom: 80px;}
  .contact .contact-box p {font-size: 1.2rem; margin-bottom: 4rem;}
  .contact .contact-box a {display: block; width: 40%; margin: 0 auto; padding: 20px 0; background-color: var(--main02-color); border-radius: 100px; margin-bottom: 20px; transition: all .3s ease; color: #fff;}
  .contact .contact-box a:hover {background-color: #0E3EDA;}


  /*footer*/
  footer {width: 100%; margin-bottom: 50px;}
  footer .foot-abt {padding: 0 50px;width: 100%;height: 75px;line-height: 75px;border-top: 1px solid #999999;border-bottom: 1px solid #999999;
  }
  footer .foot-abt h1 {font-size: 20px;}
  footer nav {padding: 0 50px; width: 100%;height: 75px;line-height: 75px;}
  footer nav .content-box {display: flex;justify-content: space-between;}
  footer nav .left em {font-weight: 500; font-size: 20px; color: var(--main02-color);}
  footer nav .right a {font-weight: 500; font-size: 1.2rem; color: var(--main01-color);}
  footer .fix-foot {position: fixed; left: 0; bottom: 0; width: 100%; height: 40px; line-height: 40px; background-color: rgba(44,51,51,0.8); border-top: 1px solid #7474748f;}
  footer .fix-foot .fix-foot-area {width: 95%; margin: 0 auto;}
  footer .fix-foot p {font-size: 13px; color: #999; font-weight: 400;}

  /*module*/
  .btn {display: inline-block;}
  .eng {font-family: 'Montserrat', sans-serif;}
  .content-box {max-width: 1200px; margin: 0 auto; position: relative;}
  .more_btn {position: absolute;top: 40px;right: 0;font-size: 15px;}
  .more_btn a {display: block; color: var(--main01-color); font-weight: 700;}
  