  * {
    /* border: 1px solid red; */
  }
  #wrap {
    width: 95%;
    max-width: 2000px;
    margin: 0 auto;
    /* background: url(../img/bg_oldpaper_a.png) repeat; */
    /* background: linear-gradient(#e9e9e9, #eee4e4) fixed; */
    background-color: #fff;
    /* padding: 25px; */
    font-family: 'Chosunilbo_myungjo';
  }
/*헤더*/
  header {
    position: fixed;
    width: 95%;
    height: 50px;
    padding: 0 100px;
    line-height: 50px;
    border-bottom: 1px solid #949494;
    background-color: rgba(255, 255, 255, 0.9);
    text-align: center;
    color: #333;
  }
  header .main_menu {
    margin: 0 auto;
  }
  header .main_menu a {
    display: block;
    padding: 0 30px;
    font-size: 1.3em;
    letter-spacing: .5em;
  }




  /*메인*/
  main {width: 70%; margin: 0 auto; padding: 100px 0; text-align: center;}
  main .my_face { margin: 0 auto;}
  main .my_face img {display: block; width: 200px; margin: 0 auto;}
  main .my_txt {font-size: 1.3em;}
  main .my_txt h2 {margin-top: 30px;}
  main .my_txt p {
    margin-top: 30px;
    font-size: 1.1em;
    line-height: 2em;
  }
  main .illust_wrap {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 3%;
    -moz-column-gap: 3%; 
    column-gap: 3%;
    margin: 50px auto;
  }
  main .illust_wrap figure {
    display: inline-block;
    border: 1px solid rgb(230, 230, 230);
    border-radius: 10px;
    margin-bottom: 10%;
  }
  main .illust_wrap figure img {
    width: 100%;
    padding: 10%;
    border-bottom: 1px solid rgb(230, 230, 230);
  }
  main .illust_wrap figure figcaption {
    padding: 15px;
}   
main .illust_wrap figure figcaption h3 {
    font-size: 1.3em;
    padding: 10px;
    color: #333;
    border-bottom: 1px solid rgb(230, 230, 230);
}   
main .illust_wrap figure figcaption p {
    text-align: left;
    font-size: 1em;
    padding-top: 10px;
    color: #333;
}




/*푸터*/
  footer {
    clear: both;
    width: 100%;
    height: 250px;
    border-top: 1px solid #949494;
    padding: 50PX;
    text-align: center;
  }
  footer .foot_bottom h2 {
    display: block;
    margin-bottom: 20px;
  }
  footer .foot_bottom .sns {
    margin-bottom: 10px;
  }
  footer .foot_bottom .sns a {
    font-size: 2em;
    color: #555;
    padding: 0 10px;
  }
  footer .foot_bottom .sns i {
    transition: all .3s ease-in;
  }
  footer .foot_bottom .sns i:hover {
    transform: scale(1.5);
    transition: all .3s ease-out;
    color: #ef1f16;
  }
  footer .foot_bottom .copyright {
    display: block;
    padding-top: 50px;
    font-size: 1.5em;
    letter-spacing: .1em;
  }
  footer .foot_bottom .illustby {
    display: block;
    padding-top: 10px;
    font-size: 1.1em;
    letter-spacing: .1em;
  }

