* {
    margin: 0;
    padding: 0;
  }

  #wrap {
    max-width: 100%;
    margin: 0 auto;
  }
/*헤더*/
  header {
    width: 100%;
    height: 150px;
    background-color: #111;
  }
/*헤더 그리드*/
  header .container {
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 100px;
  }
  header .container .item {
    border: 1px solid red;
  }
  header .container .item a{
    color: #555;
  }


/*왼쪽 사이드*/
  aside {
    float: none;
    width: 100%;
    height: 300px;
    background-color: #222;
  }
/*섹션*/
  section {
    float: none;
    width: 100%;
    height: 300px;
    background-color: #333;
  }

/*오른쪽 컨텐츠*/
  article {
    float: left;
    width: 100%;
    height: 700px;
    background-color: #444;
  }
/*푸터*/
  footer {
    clear: both;
    width: 100%;
    height: 150px;
    background-color: #555;
  }
