/* h-c-layout-01 */

body#hc-layout01 section {margin: 0 auto 70px; text-align: center;}
body#hc-layout01 section > div {padding: 70px; box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .1);}
body#hc-layout01 section h2 {
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 15px;
}

body#hc-layout01 section h3 {
  font-size: 25px;
  font-weight: 900;
  margin-bottom: 5px;
}
body#hc-layout01 section h4 {
  font-size: 13px;
  font-weight: 400;
}
body#hc-layout01 section p {
  font-size: 12px;
  font-weight: 300;
  line-height: 1.2;
}
body#hc-layout01 section.sec01 > div {background-color: #FFFFFF;   text-align: center;}
body#hc-layout01 section.sec02 > div {background-color: #FFFFFF; text-align: left;}
body#hc-layout01 section.sec03 > div {background-color: #5A6171;
  display: flex; justify-content: space-between;}
body#hc-layout01 section.sec03 > div > div {width: 45%;}
body#hc-layout01 section.sec03 h2, body#hc-layout01 section.sec03 p {
  color: #fff;
}
body#hc-layout01 section.sec03 .sec03-one {
  text-align: left;
}
body#hc-layout01 section.sec03 .sec03-tw {
  text-align: right;
}
body#hc-layout01 section.sec04 > div {
  background-color: #fff;
  text-align: center;
}
body#hc-layout01 section.sec04 .box-wrap {
  margin-top: 64px;
  display: flex;
  justify-content: space-between;
  gap: 2%;
}
body#hc-layout01 section.sec04 .box-wrap li {
  width: 25%;
  height: 220px;
  background-color: #5A6171;
  position: relative;
  color: #ddd;
  font-size: 10px;
  line-height: 220px;
  font-weight: 900;
  transition: all ease .2s;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .1);
}
body#hc-layout01 section.sec04 .box-wrap li.love {
  background-color: #6C63FE;
  color: #fff;
  font-size: 20px;
  transition: all ease .2s;
}
body#hc-layout01 section.sec04 .box-wrap li span {
  display: block;
  width: 17px;
  height: 17px;
  line-height: 17px;
  position: absolute;
  top: 12px;
  right: 12px;
  background-color: #DD9866;
  color: #fff;
  font-size: 8px;
  text-align: center;
  font-weight: 900;
}
body#hc-layout01 section.sec04 .box-wrap li:hover {
  background-color: #DD9866;
  color: #fff;
  font-size: 20px;
  transition: all ease .2s;
}
body#hc-layout01 section.sec04 .box-wrap li.love:hover {
  background-color: #5A6171;
  color: #ddd;
  font-size: 10px;
  transition: all ease .2s;
}
body#hc-layout01 section.sec05 {
  background-color: #6C63FE;
  text-align: center;
  position: relative;
}
body#hc-layout01 section.sec05 h2, body#hc-layout01 section.sec05 p {
  color: #fff;
}
body#hc-layout01 section.sec05 .box-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2%;
  margin-top: 65px;
}
body#hc-layout01 section.sec05 .box-wrap li {
  width: calc(25% - 2%);
  background-color: #dddddd;
  height: 60px;
  line-height: 60px;
  margin-bottom: 2%;
  font-weight: 600;
  color: #6C63FE;
  transition: all ease .2s;
}
body#hc-layout01 section.sec05 .box-wrap li.love {
  background-color: #ffffff;
  border-radius: 50px;
  color: #6C63FE;
}
body#hc-layout01 section.sec05 .box-wrap li:hover {
  background-color: #E99DDD;
  border-radius: 50px;
  color: #df27c3;
  transition: all ease .2s;
}
body#hc-layout01 section.sec05 .box-wrap li.love:hover {
  background-color: #dddddd;
  border-radius: 0;
  color: #6C63FE;
}
body#hc-layout01 section.sec05 a {
  position: absolute;
  top: 30px;
  right: 70px;
  color: #D8DFE9;
  display: block;
  font-size: 12px;
} 

body#hc-layout01 section.sec06 {
  background-color: #fff;
  text-align: center;
  position: relative;
}
body#hc-layout01 section.sec06 .sec06-wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
}
body#hc-layout01 section.sec06 a {
  display: block;
  background-color: #5A6171;
  border-radius: 100px;
  width: 130px;
  height: 130px;
  line-height: 130px;
  color: #fff;
  font-weight: 500;
  position: relative;
}

body#hc-layout01 section.sec06 a:hover {
  animation-name: bounce;
  animation-duration: 1.5s;
  animation-iteration-count: 3; 
  background-color: #6C63FE;
  color: #fff;
}

@keyframes bounce{
  0%, 100%{
      bottom: 0px;
      animation-timing-function: ease-out;
  }
  50%{
      bottom: 50px;
      animation-timing-function: ease-in;
  }
}
body#hc-layout01 section.sec06 p {
  position: absolute;
  top: 30px;
  left: 70px;
  display: block;
  font-size: 12px;
}
body#hc-layout01 section.sec07 {
  background-color: #fff;
  text-align: center;
}
body#hc-layout01 section.sec07 p {
  margin-bottom: 30px;
}
body#hc-layout01 section.sec07 .sec07-wrap {
  margin-top: 55px;
  display: flex;
  justify-content: center;
}
body#hc-layout01 section.sec07 .sec07-wrap a {
  display: inline-block;
  width: 110px;
  height: 110px;
  line-height: 110px;
  background-color: #5A6171;
  border-radius: 10px;
  margin: 0 25px;
  color: #fff;
}
body#hc-layout01 section.sec07 .sec07-wrap span {
  display: block;
  margin-top: 10px;
  font-size: 12px;
  color: #5A6171;
}
body#hc-layout01 section.sec08 {
  width: 100%;
  background-color: #5A6171;
  text-align: center;
}
body#hc-layout01 section.sec08 .slide01 {
  display: flex;
}
body#hc-layout01 section.sec08 .left {
  width: 50%;
} 
body#hc-layout01 section.sec08 .right {
  width: 50%;
} 
body#hc-layout01 section.sec08 .right span {
  color:#fff;
  font-size: 200px;
  font-weight: 900;
}
body#hc-layout01 section.sec08 .slide01 p, body#hc-layout01 section.sec08 .slide01 h3, body#hc-layout01 section.sec08 .slide01 h4 {
  color: #fff;
} 
body#hc-layout01 section.sec08 p {
  margin-bottom: 20px;
  line-height: 1.5;
}
body#hc-layout01 section.sec08 h3 {
  margin-bottom: 30px;
}
body#hc-layout01 section.sec09 {
  text-align: center;
  background-color: #fff;
}
body#hc-layout01 section.sec09 .sec09-wrap {
  display: flex;
  flex-wrap: wrap;
}
body#hc-layout01 section.sec09 .sec09-wrap a {
  width: 25%;
  padding: 70px 0;
  transition: all ease .2s;
}
body#hc-layout01 section.sec09 .sec09-wrap a:hover {
  opacity: 0.5;
  transition: all ease .2s;
}
body#hc-layout01 section.sec09 .sec09-wrap a p {
  margin-bottom: 10px;
}
body#hc-layout01 section.sec09 .sec09-wrap a h2 {
  margin-bottom: 0;
  font-size: 25px;
}
body#hc-layout01 section.sec09 .sec09-wrap a.bg-r {
  background-color: #5A6171;
  color: #fff;
}
body#hc-layout01 section.sec09 .sec09-wrap a.bg-g {
  background-color: #DDDDDD;
  color: #333333;
}

.tab_menu {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.tab_menu a {
  padding: 10px 20px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 10px;
  margin: 0 10px;
  font-size: 12px;
}
.tab_menu a:hover {
  background-color: #fff;
  color: #333;
  transition: all ease 0.2s;
}


/*sub02*/
main#sub2 section {
  margin: 0 auto 70px;
  padding: 70px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .1);
}
main#sub2 h2 {
  font-size: 62px;
  font-weight: 900;
}
main#sub2 h3 {
  font-size: 20px;
  font-weight: 700;
}
main#sub2 p {
  font-size: 13px;
  font-weight: 300;
  line-height: 1.5;
}
main#sub2 section.sec01 {
  background-color: #F4F5DB;
  display: flex;
  justify-content: space-between;
}
main#sub2 section.sec01 .left {
  width: 40%;
  margin-right: 5%;
}
main#sub2 section.sec01 .left a {
  display: block;
  width: 100%;
  height: 100%;
  background: url(../images/sub02_00.png) no-repeat center center;
  background-size: cover;
  font-size: 0;
}
main#sub2 section.sec01 .right h2 {
  margin-bottom: 30px;
}
main#sub2 section.sec01 .article-wrap {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
}
main#sub2 section.sec01 .article-wrap article {
  width: calc(50% - 2%);
  margin-bottom: 40px;
}
main#sub2 section.sec01 .article-wrap article h3{
  color: #333333;
  margin-bottom: 15px;
}
main#sub2 section.sec01 .article-wrap article p {
  color: #333333;
  line-height: 1.5;
}
main#sub2 .last-part h3, main#sub2 .last-part p {
  color: #F4F5DB;
}
main#sub2 .sec02 {
  background-color: #fff;
  text-align: center;
}
main#sub2 .sec02 h3 {
  margin-bottom: 10px;
}
main#sub2 .sec02 h2 {
  margin-bottom: 20px;
}
main#sub2 .sec02 .sec02-wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
main#sub2 .sec02 .sec02-wrap article .top-cont {
  width: 100%;
  background: url(../images/sub02_02.png) no-repeat center center;
  background-size: cover;
  padding: 40px;
  display: flex;
  margin-bottom: 20px;
  line-height: 80px;
}
main#sub2 .sec02 .sec02-wrap article .top-cont .num {
  font-size: 5em;
  font-weight: 900;
  
}
main#sub2 .sec02 .sec02-wrap article .top-cont .txt {
  font-size: 1.5em;
  font-weight: 900;
  color: #fff;
  text-align: left;
  line-height: 1.7;
  padding-left: 10px;
  margin-top: 5px;
}
main#sub2 .sec02 .sec02-wrap article .top-cont .txt span {
  display: block;
  font-size: 12px;
  font-weight: 300;
}
main#sub2 .sec02 .sec02-wrap article .btm-cont {
  text-align: left;
}
main#sub2 .sec03 {
  background-color: #F4F5DB;
  text-align: center;
  display: flex;
}
main#sub2 .sec03 .left {
  width: calc(40% - 20px);
  margin-right: 20px;
}
main#sub2 .sec03 .right {
  width: 60%;
}
main#sub2 .sec03 .right .cont {
  display: flex;
}
main#sub2 .sec03 .right .cont div {
  padding: 0 10px;
  text-align: left;
}
main#sub2 .sec03 .right .cont div h3 {
  margin-bottom: 15px;
}
main#sub2 .sec03 .left .box {
  height: 250px;
  width: 100%;
  margin-top: 30px;
  border-radius: 30px 0 30px 0;
  background: url(../images/sub02_01.png) no-repeat center center;
  background-size: cover;
}
main#sub2 .sec03 .right .box {
  height: 300px;
  width: 100%;
  margin-bottom: 30px;
  border-radius: 30px 0 30px 0;
  background: url(../images/sub02_01.png) no-repeat center center;
  background-size: cover;
}

main#sub2 .sec04 {
  background-color: #fff;
  text-align: center;
}
main#sub2 .sec04 h3 {
  font-size: 20px;
  color: #23689B;
}
main#sub2 .sec04 h2 {
  color: #23689B;
}
main#sub2 .sec04 p {
  color: #23689B;
}
main#sub2 .sec04 .cont_wrap {
  display: flex;
  margin-top: 40px;
  text-align: left;
}
main#sub2 .sec04 .cont_wrap .cont01 {
  margin-right: 10px;
  display: inline-block;
  position: relative;
}
main#sub2 .sec04 .cont_wrap .cont01::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  background-color: #ddd;
}
main#sub2 .sec04 .cont_wrap .top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
main#sub2 .sec04 .cont_wrap .top b {
  font-size: 100px;
  font-weight: bold;
  margin-right: 10px;
  margin-top: -11px;
}
main#sub2 .sec04 .cont_wrap .top span {
  font-size: 12px;
  line-height: 1.5;
}
main#sub2 .sec04 .cont_wrap .btm-wrap {
  display: flex;
  flex-wrap: wrap;
}
main#sub2 .sec04 .cont_wrap .btm-wrap a {
  display: block;
  width: 50%;
  display: flex;
  margin-bottom: 30px;
  justify-content: space-between;
}

main#sub2 .sec04 .cont_wrap .btm-wrap a span {
  font-size: 12px;
  line-height: 1.5;
  display: inline-block;
  position: relative;
  padding-left: 60px;
  padding-right: 25px;
}
main#sub2 .sec04 .cont_wrap .btm-wrap a span::before {
  content: '';
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  width: 50px;
  height: 50px;
  background-color: #777777;
  border-radius: 200px;
}
main#sub2 .sec04 .cont_wrap .cont02 {
  margin-left: 10px;
}
main#sub2 .sec04 .cont_wrap .cont02 b,
main#sub2 .sec04 .cont_wrap .cont02 span  {
  color: #23689B;
}
main#sub2 .sec05 {
  background-color: #F4F5DB;
  display: flex;
  justify-content: space-between;
}
main#sub2 .sec05 .left {
  width: 60%;
  display: flex;
  justify-content: space-between;
}
main#sub2 .sec05 .left .rnd {
  width: calc(50% - 5px);
  height: 100%;
  margin-right: 3%;
  border-radius: 100px 0 100px 100px;
  background:url(../images/cake.jpg) center center no-repeat;
  background-size: cover
}
main#sub2 .sec05 .left .sqr {
  width: calc(50% - 5px);
  height: 100%;
  background-color: #C4C4C4;
  background:url(../images/puzzle.jpg) center center no-repeat;
  background-size: cover
}
main#sub2 .sec05 .right {
  margin-left: 30px;
  width: calc(40% - 30px);
}
main#sub2 .sec05 .right a {
  display: block;
  margin-bottom: 20px;
}
main#sub2 .sec05 .right a::after {
  content: '';
  display: block;
  clear: both;
}
main#sub2 .sec05 .right a b {
  float: left;
  width: 56px;
  height: 56px;
  background-color: #C4C4C4;
  border-radius: 100%;
  margin-right: 15px;
}

/*section 03*/
main#sub3 section {
  background-color: #D8DFE9;
  height: 100px;
  line-height: 100px;
  margin-bottom: 100px;
  padding: 0 60px;
  box-shadow: 0 30px 30px 0 rgba(0, 0, 0, .3);
}
main#sub3 section nav {
  display: flex;
  justify-content: space-between;
}
main#sub3 section h2 {
  font-size: 35px;
  font-weight: 900;
  color: #5A6171;
}
main#sub3 section .menu-list a,
main#sub3 section .menu-list-lf a,
main#sub3 section .menu-list-rg a {
  font-size: 15px;
  color: #5A6171;
  font-weight: 500;
  padding: 0 35px;
  display: inline-block;
}
main#sub3 section .clk-list {
  line-height: 100px;
}
main#sub3 section .clk-list a {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  color: #6C63FE;
  border: 2px solid #6C63FE;
  border-radius: 100px;
  text-align: center;
  width: 170px;
  height: 50px;
  line-height: 50px;
  transition: all ease .2s;
}
main#sub3 section .clk-list a:hover {
  background-color: #6C63FE;
  color: #fff;
  transition: all ease .2s;
}
main#sub3 .last-part h3,
main#sub3 .last-part p {
  color: #fff;
}
main#sub3 section .ham_list .srh {
  display: inline-block;
  vertical-align: middle;
  width: 31px;
  height: 32px;
  background: url(../images/srh.png) center center no-repeat;
  margin-right: 10px;
}
main#sub3 section .ham_list .ham {
  display: inline-block;
  vertical-align: middle;
  width: 35px;
  height: 29px;
  background: url(../images/ham.png) center center no-repeat;
}
main#sub3 .sec03 nav .ham_list {
  width: 20%;
  text-align: left;
}
main#sub3 .sec03 nav h2 {
  width: 60%;
  text-align: center;
}
main#sub3 .sec03 nav .clk-list {
  width: 20%;
  text-align: right;
}
main#sub3 .sec04 a {
  transition: all ease .3s;
}

main#sub3 .sec04 .menu-list a:hover {
  transform: translateY(-20px);
  transition: all ease .3s; 
}
main#sub3 .sec05 .clk-list a {
  margin-right: 20px;
  transition: all ease .2s; 
}
main#sub3 .sec06 .menu-list {
  display: flex;
  justify-content: space-around;
  width: calc(100% - 300px);
}
main#sub3 .sec06 a {
  position: relative;
  
}
main#sub3 .sec06 a:hover::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 3px;
  background-color: #6C63FE;
}
main#sub3 .sec07 nav .menu-list-lf {
  width:40%;
  text-align: left;
}
main#sub3 section nav .menu-list-rg {
  width:40%;
  text-align: right;
}
main#sub3 .sec07 a {
  transition: all ease 0.2s;
}
main#sub3 .sec07 .menu-list-lf a:hover {
  transform: translate(10px, 10px);
  transition: all ease 0.2s;
  color: #6C63FE;
}
main#sub3 .sec07 .menu-list-rg a:hover {
  transform: translate(-10px, -10px);
  transition: all ease 0.2s;
  color: #6C63FE;  
}
main#sub3 .sec08 a {
  display: inline-block;
  font-size: 20px;
  padding: 0 3%;
  animation: rotate_icon 2s linear infinite;
}
@keyframes rotate_icon{
	100% {
    	transform: rotate(360deg);
    }
}
main#sub3 .sec08 .icon-list-lf {
  width: 40%;
  text-align: left;
}
main#sub3 .sec08 .icon-list-rg {
  width: 40%;
  text-align: right;
}
main#sub3 .sec09 a {
  transition: all ease 0.2s;
}
main#sub3 .sec09 a:hover {
  color: #6C63FE;
  font-weight: 500;
  transform: scale(1.3);
  transition: all ease 0.2s;
}

/*sub04*/
main#sub4 {
  border: 3px solid #fbbedf;
  padding: 20px;
  margin-bottom: 100px;
  background-color: #23689b;
}
main#sub4 section {
  overflow: hidden;
}
main#sub4 .sec01 .container {
  display: grid;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;

}
main#sub4 .sec01 b {
  display: block;
  font-weight: 300;
  font-size: 10px;
  text-align: right;
  color: #C2BFFD;
  margin-bottom: 5px;
}
main#sub4 .sec01 .item {
  text-align: center;
  color: #fff;
  border: 1px solid #FFF;
  height: auto;
  padding: 30px;
  text-align: left;
}
main#sub4 .sec01 .item.one {
  grid-column: 1 / span 2;
}
main#sub4 .sec01 .item.two {
  grid-column: 3 / span 2;
  background-color: #0d325d98;
}
main#sub4 .sec01 .item.thr {
  grid-column: 1 / span 2;
  grid-row: 2 / span 2;
}
main#sub4 .sec01 .item.thr .img_wrap {
  background: url(../images/blue_bird.jpg) right top no-repeat;
  background-size: cover;
  height: 570px;
  width: 100%;
  transition: all ease 0.5s;
  margin-bottom: 30px;
}
main#sub4 .sec01 .item.thr p {
  text-align: center;
  font-size: 18px;
  color: #000;
  font-weight: 700;
}
main#sub4 .sec01 .item.thr .img_wrap:hover {
  transform: scale(1.5);
  transition: all ease 0.5s;
}
main#sub4 .sec01 .item.fur {
  grid-column: 3 / span 2;
  background-image: url(../images/sky.jpg) ;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}
main#sub4 .sec01 .item.fiv {
  grid-column: 3 / span 2;
  background: url(../images/god_cat01.jpg) center top no-repeat;
  background-size: cover;
  text-align: right;
}
main#sub4 .sec01 .item.fiv p {
}
main#sub4 .sec01 .item.six {
  grid-column: 1 / span 1;
  background: url(../images/giphy02.gif) right top no-repeat;
  background-size: cover;
}
main#sub4 .sec01 .item.sev {
  width: auto;
  height: 500px;
  background-image: url(../images/sky.jpg) ;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  text-align: right;
}
main#sub4 .sec01 .item.egh {
  background: url(../images/train.jpg) right top no-repeat;
  background-size: cover;
}
main#sub4 .sec01 .item.nin {
  position: relative;
}
main#sub4 .sec01 .item.nin .num{
  position: absolute;
  bottom: -30px;
  right: 20px;
  font-size: 150px; 
  font-weight: 900;
  transition: all ease .3s;
  cursor: pointer;
}
main#sub4 .sec01 .item.nin .num:hover {
  color: #DD9866;
  transform: scale(1.5);
  transform: translate(-20px, -10px);
  transition: all ease .3s;
  font-size: 180px;
}
main#sub4 .sec01 .item.ten {
  grid-column: 1 / span 2;
}
main#sub4 .sec01 .item.twl {
  grid-column: 3 / span 2;
}
main#sub4 .sec01 .item.fit {
  grid-column: 1 / span 1;
  grid-row: 6 / span 2;
  background: url(../images/night_sea.jpg) right top no-repeat;
  background-size: cover;
}
main#sub4 .sec01 .item.sit {
  grid-column: 2 / span 2;
  text-align: center;
}
main#sub4 .sec01 .item.svt {
  grid-column: 1 / span 4;
}
main#sub4 .sec01 .item.net {
  grid-column: 2 / span 2;
}
main#sub4 .sec01 .item.tht {
  grid-column: 2 / span 2;
  text-align: center;
}
main#sub4 .sec01 .item.fut {
  grid-column: 4 / span 1;
  grid-row: 6 / span 2;
  background: url(../images/night_sea.jpg) right top no-repeat;
  background-size: cover;
}
main#sub4 .sec01 .item.eit {
  background-color: #ff4646;
}
main#sub4 .sec01 .item.eit p {
  color: #23120b;
}
main#sub4 .sec01 .item.twt {
  background-image: url(../images/sky.jpg) ;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}
main#sub4 .sec01 .item h2 {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 15px;
  color: #FFF8ED;
}
main#sub4 .sec01 .item p {
  font-size: 13px;
  line-height: 1.5;
  color: #FFF8ED;
}
main#sub4 .last-part h3, main#sub4 .last-part p {
  color: #fff;
}




@media screen and (max-width: 1400px){

}

@media screen and (max-width: 1200px){

}

@media screen and (max-width: 1024px){
  header nav .right {
    display: none;
  }
  header nav .right_mb {
    display: block;
  }
}

@media screen and (max-width: 900px){

}