<aside class="local-aside" id="aside">
    <div class="aside-inner">
        <div class="aside-wrap">
            <div class="aside-head blind">퀵 메뉴</div>
            <div class="aside-util">
                <a class="util-item sns insta" href="https://www.instagram.com/great_flood_/" target="_blank">INSTA</a>
                <a class="util-item sns grafolio" href="#" target="_blank">grafolio</a>
                <a class="util-item sns notion" href="https://www.notion.so/UI-UX-476905d4e5164c9fa09651513ec59077?pvs=4" target="_blank">Notion</a>
                <a class="util-item sns tistory" href="https://doitlock.tistory.com/category/Code" target="_blank">Stack Blog</a>
                <a class="util-item sns git" href="https://github.com/doitlock" target="_blank">github</a>
            </div>
        </div>
    </div>
</aside>