<aside class="local-aside" id="aside">
    <div class="aside-inner">
        <div class="aside-wrap">
            <div class="aside-head blind">aside 메뉴</div>
            <div class="aside-util">
                <a class="util-item github" href="https://github.com/doitlock" target="_blank">github</a>
                <a class="util-item notion" href="https://www.notion.so/UI-UX-476905d4e5164c9fa09651513ec59077?pvs=4" target="_blank">Notion</a>
                <a class="util-item blog" href="https://doitlock.tistory.com/category/Code" target="_blank">Blog</a>
                <a class="util-item instagram" href="https://www.instagram.com/great_flood_/" target="_blank">SNS</a>
            </div>
        </div>
    </div>
</aside>