<footer id="footer">
    <div class="foot-abt">
        <div class="content-box">
            <h1>Copyright ⓒ 2022. SU GI HONG All Rights Reserved</h1>
        </div>
    </div>
    <nav id="footer-gnb">
        <div class="content-box">
            <div class="left">
                <em class="eng">PORTFOLIO</em>
            </div>
        </div>
    </nav>
</footer>