<footer id="footer">
    <div class="footer-header">
        <div class="content-box">
        </div>
    </div>
    <nav id="footer-gnb">
        <ul class="gnb-list">
            <li class="gnb-item"></li>
            <li class="gnb-item"></li>
            <li class="gnb-item"></li>
            <li class="gnb-item"></li>
        </ul>
    </nav>
</footer>