<div class="skip-nav">
    <span class="blind">skip navigation</span>
    <ul>
        <li><a href="#gnb">상단메뉴 바로가기</a></li>
        <li><a href="#main">본문 바로가기</a></li>
        <li><a href="#footer">하단 정보(링크) 바로가기</a></li>
    </ul>
</div>

<header class="header" id="header">
    <div class="container">
        <div class="header__inner">
            <div class="header__logo">CRAVITY STUDIO</div>
            <nav class="nav">
                <ul class="nav__list">
                    <li><a href="#home" class="nav__link">HOME</a></li>
                    <li><a href="#about" class="nav__link">ABOUT ME</a></li>
                    <li><a href="#portfolio" class="nav__link">SKILL</a></li>
                    <li><a href="#services" class="nav__link">PROJECT</a></li>
                </ul>
                <a href="#contact" class="nav__contact">Contact</a>
            </nav>
        </div>
    </div>
</header>