<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>HONG SUGI | PORTFOLIO</title>
<meta name="description" content="웹퍼블리셔 HONGSUGI 포트폴리오">
<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
<meta name="apple-mobile-web-app-title" content="웹퍼블리셔 HONGSUGI 포트폴리오">
<!-- <link rel="shortcut icon" type="image/x-icon" href="favicon.png"> -->
<link rel="stylesheet" href="../../assets/css/style.css">
<script src="../../assets/js/jquery-3.6.0.min.js" defer></script>
<script src="../../assets/js/swiper/swiper-bundle.js" defer></script>
<script src="../../assets/js/gsap.min.js" defer></script>
<script src="../../assets/js/ScrollTrigger.min.js" defer></script>
<script src="../../assets/js/ScrollToPlugin.min.js" defer></script>
<script src="../../assets/js/common.js" defer></script>
