<div class="skip-nav">
    <span class="blind">skip navigation</span>
    <ul>
        <li><a href="#gnb">상단메뉴 바로가기</a></li>
        <li><a href="#main">본문 바로가기</a></li>
        <li><a href="#footer">하단 정보(링크) 바로가기</a></li>
    </ul>
</div>
<header id="header">
    <div class="hd-top">
        <div class="content-box">
            <h1><a href="index.html">DEVELOPER HSG</a></h1>
            <em class="eng">PORTFOLIO WEBSITE 📁</em>
        </div>
    </div>
    <nav id="gnb">
        <div class="content-box">
            <div class="left pc">
                <em>홍수기의 <b>포트폴리오</b> 사이트 입니다.</em>
            </div>
            <div class="right">
                <a href="javascript:;" onclick="go_scroll('aboutme')">ABOUT</a>
                <a href="javascript:;" onclick="go_scroll('project')">PROJECT</a>
                <a href="javascript:;" onclick="go_scroll('contact')">CONTACT</a>
            </div>
        </div>
    </nav>
    <div class="flt-nav-left pc">
        <a href="https://github.com/doitlock" target="_blank"><i class="xi-github"><span>깃허브</span></i></a>
        <a href="https://www.notion.so/UI-UX-476905d4e5164c9fa09651513ec59077?pvs=4" target="_blank"><i class="xi-pen"><span>노션</span></i></a>
        <a href="https://doitlock.tistory.com/category/Code" target="_blank"><i class="xi-blogger"><span>블로그</span></i></a>
        <a href="https://www.instagram.com/great_flood_/" target="_blank"><i class="xi-instagram"><span>인스타그램</span></i></a>
    </div>
</header>