<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>HONGSUGI | PORTFOLIO</title>
<meta name="description" content="웹퍼블리셔 HONGSUGI 포트폴리오">
<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
<meta name="apple-mobile-web-app-title" content="웹퍼블리셔 HONGSUGI 포트폴리오">
<link rel="shortcut icon" type="image/x-icon" href="favicon.png">
<link rel="stylesheet" href="css/style.css">
<script type="text/javascript" src="js/jquery-3.6.0.min.js" defer></script>
<script type="text/javascript" src="js/main.js" defer></script>