<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Portfolio</title>
<meta name="description" content="웹퍼블리셔 HONGSUGI 포트폴리오">
<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
<meta name="apple-mobile-web-app-title" content="웹퍼블리셔 HONGSUGI 포트폴리오">
<!-- <link rel="shortcut icon" type="image/x-icon" href="favicon.png"> -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../../assets/css/style.css">
<script src="../../assets/js/jquery-3.6.0.min.js"></script>
<script src="../../assets/js/swiper/swiper-bundle.js"></script>
<!-- <script src="../../assets/js/gsap.min.js"></script> -->
<script src="../../assets/js/ScrollTrigger.min.js"></script>
<script src="../../assets/js/ScrollToPlugin.min.js"></script>
<script src="../../assets/js/common.js"></script>