<div class="skip-nav">
    <span class="blind">skip navigation</span>
    <ul>
        <li><a href="#gnb">상단메뉴 바로가기</a></li>
        <li><a href="#main">본문 바로가기</a></li>
        <li><a href="#footer">하단 정보(링크) 바로가기</a></li>
    </ul>
</div>
<header id="header">
    <div class="header-inner">
        <h1 class="site-logo">
            <a class="text arch" href="index.html">DEVELOPER HSG</a>
        </h1>
        <div class="gnb" id="gnb">
            <div class="gnb-list">
                <a class="gnb-item" href="javascript:;" onclick="go_scroll('aboutme')">ABOUT ME</a>
                <a class="gnb-item" href="javascript:;" onclick="go_scroll('skill')">SKILL</a>
                <a class="gnb-item" href="javascript:;" onclick="go_scroll('project')">PROJECT</a>
                <a class="gnb-item" href="javascript:;" onclick="go_scroll('contact')">CONTACT</a>
            </div>
        </div>
    </div>
</header>