@charset "utf-8";

.btn {
	display: inline-block;
}

.eng {
	font-family: 'Montserrat', sans-serif;
}

.content-box {
	max-width: 120rem;
	margin: 0 auto;
	position: relative;
}

.more-btn {
	font-size: .9rem;
	color: $grey14;
	font-weight: 700;
	display: block;
	margin: 5rem auto 0;
	width: 10rem;
	height: 10rem;
	border-radius: 100%;
	background-color: $greydd ;
	line-height: 10rem;
	transition: all .3s ease 0s;

	&:hover {
		background-color: $main04-color;
		color: $white;
	}
}

.swing {
	animation: swing 2s ease-in-out infinite;
}

@keyframes swing {
	0% {
		transform: translateY(4rem);
	}

	50% {
		transform: translateY(0);
	}

	100% {
		transform: translateY(4rem);
	}
}