@charset "utf-8";

#main-page {
	position: relative;
	background: url(../../assets/images/main/god_cat01.jpg) no-repeat center center;

	section {
		+section {
			padding: 8rem 0;
		}
		.section-head {
			text-align: center;
		}
		&.intro {
			padding: 15rem 0;
			background-color: $main04-color;
			.section-head {
				.text {
					display: block;
					text-align: center;
					&.type-01 {
						font-weight: 800;
						font-size: 3rem;
						color: $main01-color;
					}

					&.type-02 {}
				}
			}
		}

		&.aboutme {
			padding: 0 2rem;
			max-width: 140rem;
			margin: 0 auto;

			.section-head {
				.text {}
			}

			.section-body {
				display: flex;
				flex-wrap: wrap;
				gap: 4rem;

				article {
					width: calc(50% - 2rem);

					.article-head {
						.text {
							@include font(small-2x, bold);
						}
					}

					.article-body {
						.content-list {
							padding-top: 3rem;

							.content-item {
								border-bottom: 1px solid $greydd;
								padding: 1rem 2rem;
								width: 100%;
								text-align: left;

								.content-head {
									@include font(small-2x, bold);
									color: $grey33;
								}

								.content-body {
									.text {
										font-size: 1.4rem;
										font-weight: 400;
									}

									.date {
										font-size: 1.4rem;
										font-weight: 400;
										color: $grey77;
									}
								}
							}
						}
					}
					&.edu,
					&.career {
						.content-list .content-item {
							.content-head {
								display: block;
								margin-bottom: 1rem;
								font-weight: 500;
								font-size: 1.6rem;
							}
							.content-body{
								.date {
									padding-top: 0.5rem;
								}
							}
						}
					}
				}
			}
		}

		&.skill {
			background-color: $main02-color;
			.section-head {
				.text {
					@include font(small-6x, regular);
				}
			}
			.section-body {
				.badge-list {
					display: flex;
					align-items: center;
					gap: 1rem;

					.badge-item {
						padding: 0.8rem 1.5rem;
						border-radius: 10rem;
						background-color: $bg1;
						white-space: nowrap;
						@include font(small-6x, regular);
					}
				}
			}
		}

		&.project {

		}

		&.contact {
			margin-bottom: 8rem;

			.contact-box {
				p {
					font-size: 1.2rem;
					margin-bottom: 4rem;
				}

				a {
					display: block;
					width: 40%;
					margin: 0 auto;
					padding: 2rem 0;
					background-color: $main04-color;
					border-radius: 10rem;
					margin-bottom: 2rem;
					transition: all .3s ease;
					color: $white;

					&:hover {
						background-color: $main05-color;

					}
				}
			}
		}
	}
}