@charset "utf-8";
* {
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
    
}
/*옆 메뉴*/
aside {
    position: fixed;
    top: 80px;
    width: 10%;
    min-width: 200px; 
    height: 100%; 
    text-align: left;
    font-family: "Proxima Nova", Roboto, Arial, "Noto Sans KR", "Nanum Gothic", "Malgun Gothic", "맑은 고딕", Dotum, 돋움, "Apple SD Gothic Neo", AppleGothic, sans-serif;
    padding: 55px 0 0 30px;
    z-index: 888;
    background-color: #ffffff;
}
aside a {
    color: #444;
}
aside.aside_left {
    left: 0; 
    border-right: 1px solid rgb(209, 209, 209);
}
aside.aside_right {
    right: 0;  
    border-left: 1px solid rgb(209, 209, 209);
}
.aside_left h2 {
    background: url(../img/memu_img.png) no-repeat;
    background-size: contain;
    width: 150px;
    height: 200px;
    font-size: 0;
    /* border: 1px solid red; */
}
.aside_left .as_left_menu01 li a {
    font-size: 15px;
    line-height: 24px;
    font-weight: bold;
}
.aside_left .as_left_menu02 li a {
    font-size: 13px;
    line-height: 24px;
}
.aside_left .as_left_menu03 li a {
    font-size: 13px;
    line-height: 24px;
}
.aside_left section {
    padding:20px 0 20px 5px;
}
/*오른쪽 사이드*/
.aside_right section {
    padding:25px 0 25px 5px;
}
.as_right_menu01 {
    border-bottom: 1px solid rgb(206, 206, 206);
}
.aside_right .as_right_menu01 li a {
    font-size: 13px;
    line-height: 24px;
}
.as_right_menu02 {
    border-bottom: 1px solid rgb(206, 206, 206);
}
.as_right_menu03 {
    border-bottom: 1px solid rgb(206, 206, 206);
}
.as_right_menu03 .right_menu_list {
    line-height: 20px;
}
.as_right_menu03 li em {
    font-weight: bold;
    color: royalblue;
}
.aside_right .as_right_menu02 li {
    font-size: 15px;
    line-height: 24px;
    font-weight: 500;
}
.aside_right .as_right_menu03 li a {
    font-size: 13px;
    line-height: 24px;
}

.as_right_sns {
    margin-left: -10px;
}
.as_right_sns .sns_01 span {
    display: inline-block;
    position: relative;
    font-size: 15px;
    width: 30px;
    height: 30px;
}
.as_right_sns .sns_01 span a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.as_right_sns .sns_01 span:hover {
    background-color: royalblue;
    border-radius: 100%;
    color: #ffffff;
}
.as_right_sns .sns_01 span:hover a {
    color: #ffffff;
}

/*검색기능*/
.as_left_menu04 {
}
input[type=text] {
    width: 130px;
    height: 25px;
    border: 1px solid #555;
}

/*컨테이너 컨텐츠*/
.container {
    min-width: 1200px;
    position: relative;
}
.content-box:after {
    content: '';
    display: block;
    clear: both;
}

/*컨테이너 안의 푸터*/
.cont_footer {
    width: 100%;
    min-width: 1200px;
    margin: 0 auto;
    border-top: 1px solid rgb(209, 209, 209);
    padding: 50px 0 100px;
}
.footer_inner {
    
}
.foot_head {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 5px;
}
.foot_copy {
    font-size: 13px;
    color: #333;
    margin-bottom: 30px;
    text-align: center;
}
.foot_txt {
    font-size: 12px;
    font-weight: 200;
    margin-bottom: 50px;
    color: #333;
}
.foot_mail {
    font-size: 14px;
    color: #333;
    margin-bottom: 30px;
}
.foot_mail .mail_head {
    font-weight: 700;
    margin-right: 10px;
}


/*바디의 푸터*/
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
    background: rgba(250, 250, 250, 0.8);
    border-top: 1px solid rgb(209, 209, 209);
    z-index: 9999;
    font-size: 13px;
    font-weight: 300;
    padding: 4px 0 0 10px;
}


/* header */
body {
    position: relative;
    min-width: 1400px;
}
#wrap {
    position: relative;
    width: 100%;
    min-width: 1200px;
    padding: 140px 300px 0;
    background-color: #ffffff;
}
/*헤더 메뉴*/
header {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    min-width: 1200px;
    height: 80px; 
    background: rgba(245, 245, 245, 0.8);
    border-bottom: 1px solid rgb(209, 209, 209);
    z-index: 999;
}
.my_name {
    font-family: "Proxima Nova", Roboto, Arial, "Noto Sans KR", "Nanum Gothic", "Malgun Gothic", "맑은 고딕", Dotum, 돋움, "Apple SD Gothic Neo", AppleGothic, sans-serif;
    font-size: 18px;
    line-height: 80px;
    margin-left: 50px;
}
.my_name a {
    color: #222;
}
nav {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 600px; 
    height: 50px; 
    /* border: 1px solid rgb(209, 209, 209); */
}
nav .gnb {
    display: block;
    position: static;
    font-family: "Proxima Nova", Roboto, Arial, "Noto Sans KR", "Nanum Gothic", "Malgun Gothic", "맑은 고딕", Dotum, 돋움, "Apple SD Gothic Neo", AppleGothic, sans-serif;
    font-size: 13px;
    line-height: 50px;
}
nav .gnb:after {
    content: '';
    display: block;
    clear: both;
}
nav .gnb li {
    float: left;
    margin-right: 30px;
}
nav .gnb li a {
    color: #333333;
}
nav .gnb li a:hover,
nav .gnb li a:focus {
    text-decoration: underline;
    color: royalblue;
}


/* Media query */

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1200px) {
    .parallax{
        background-attachment: scroll;
    }
}

@media screen and (max-width: 1600px) {
    #wrap {
        padding:140px 0 0 265px;
    }
    .container {
        width:1200px;
    }
    aside {
        height:auto;
        padding:99px 0 0 30px;
    }
    .aside_left {
        position:absolute;
        top:0;
    }
    .aside_right {
        position:absolute;
        top:750px;
        bottom: 0pt;
        left:0;
        padding:55px 0 0 0;
        border-right:1px solid rgb(209, 209, 209);
    }

    .aside_right section {
        padding-left:30px;
    }
}
