/*컨테이너 컨텐츠*/
.container {
    min-width: 1200px;
    position: relative;
}
.content-box:after {
    content: '';
    display: block;
    clear: both;
}
/*컨텐츠01*/
.content-item1 {
    position: relative;
    min-width: 100%; 
    height: 500px; 
    /* border: 1px solid rgb(209, 209, 209); */
    margin-bottom: 50px;
    overflow: hidden;
}
.content-item1 .item1_box1 {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 66%;
    height: 500px;
    border: 1px solid rgb(209, 209, 209);
}
.content-item1 .item1_box1 a {
    background: url(../img/intro_01.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    display: block;
    width: 100%;
    height: 100%;
    -webkit-transition: transform 1s;
    transition: transform 1s; /*트렌스폼 2초걸리게*/
}
.content-item1 .item1_box1:hover a {
    -webkit-transform: scale(1.1); /*크기를 늘려놓겠다*/
    transform: scale(1.1);
}
.content-item1 .item1_box2 {
    position: absolute;
    top: 0;
    right: 0;
    width: 33%;
    height: 46%;
    border: 1px solid rgb(209, 209, 209);
    border: 1px solid rgb(209, 209, 209);
    background: url(../img/intro_02.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}
.content-item1 .item1_box3 {
    position: absolute;
    bottom: 0;
    right: 17%;
    width: 16%;
    height: 51%;
    border: 1px solid rgb(209, 209, 209);
    background: url(../img/intro_03.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    font-size: 13px;
    letter-spacing: 5px;
    text-align: center;
    color: rgb(147, 154, 160);
    /* background-color: #f2f2f2; */
}
.content-item1 .item1_box4 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 16%;
    height: 51%;
    border: 1px solid rgb(209, 209, 209);
    background: url(../img/intro_04.jpg) no-repeat;
    background-position: bottom;
    background-size: cover;
    /* background-color: #f2f2f2; */
}

/*컨텐츠02*/
.content-item2 {
    float: left; 
    width: 100%; 
    /* height: 1000px; */ 
    padding-top: 150px;
}
.content-item2 .cont2_txt {
    width: 100%;
    text-align: center;
}

.content-item2 ul {
    display: block;
    width: 100%;
}
.content-item2:after {
    content: '';
    display: block;
    clear: both;
}
.content-item2 li {
    position: relative;
    float: left;
    width: 32.33%;
    height: 400px;
    margin: 0 1% 15px 0;
    border: 1px solid rgb(209, 209, 209);
}
.con2_link ul > li:last-child {
    margin-right: 0;
    clear: both;
}
.con2_link > li {
    text-align: center;
}
.con2_link > li a {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 0;
    z-index: 1;
    color: #ffffff; 
}
.con2_link > li a span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Lexend Tera', sans-serif;
}
.con2_link > li::after{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(42, 42, 46, 0.89);
    content: '';
    transition: 0.7s;
}
.con2_link > li:hover:after {
    opacity: 1;
}
.con2_link > li:hover a {
    font-size: 20px; 
}

/*텍스트 공통*/
.txt_head {
    font-size: 20px;
    margin-bottom: 10px;
    letter-spacing: 15px;
}
.txt_story {
    font-size: 14px;
    color: #555;
    margin-bottom: 70px;
    font-weight: 300;
}

/*이미지*/
.con2_link .link01 {
    background: url(../img/line_friends.png) no-repeat;
    background-size: cover;
    background-position: center;
}
.con2_link .link02 {
    background: url(../img/kakao_bank.png) no-repeat;
    background-size: cover;
    background-position: center;
}
.con2_link .link03 {
    background: url(../img/naver_corp.png) no-repeat;
    background-size: cover;
    background-position: center;
}
.con2_link .link04 {
    background: url(../img/portfolio.png) no-repeat;
    background-size: cover;
    background-position: center;
}
.con2_link .link05 {
    background: url(../img/starbucks.png) no-repeat;
    background-size: cover;
    background-position: center;
}
.con2_link .link06 {
    background: url(../img/megabox.png) no-repeat;
    background-size: cover;
    background-position: center;
}
/*parallax*/
.parallax_wrap {
    display: inline-block;
    position: relative;
    width: 100%;
    margin-top: 200px;
}
.parallax_wrap .parallax_wrap_txt {
    width: 100%;
    text-align: center;
}

.parallax {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    background-image: url("../img/parallax.jpg");
    height: 400px;
}

.parallax_cap {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;    
}
/* .what_i_do {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.what_i_do ul {
    border: 1px solid red;
    overflow: hidden;
}
.what_i_do ul li {
    float: left;
    display: block;
    width: 100px;
    background-color: rgb(243, 243, 243);
    margin-right: 10px;
} */

/*컨텍트*/
.contact_wrap {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 100px;
    padding-top: 130px;
}
.contact_head h2 {
    font-size: 30px;
    letter-spacing: 10px;
    margin-bottom: 30px;
}
.contact_head .head_underline {
    width: 100px;
    height: 6px;
    background-color: #7178a2;
    margin: 0 auto 30px;
}
.contact_story strong{
    font-size: 30px;
    line-height: 50px;
    font-weight: 300;
}
.contact_story p a {
    display: inline-block;
    width: 350px;
    height: 50px;
    line-height: 50px;
    background-color: royalblue;
    margin-top: 40px;
    color: #ffffff;
}
.contact_story p a:hover {
    background-color: rgb(13, 47, 148);
    transition: all 0.8s;
}
.contact_story p a i {
    margin-right: 20px;
}
.contact_wrap_txt {
    margin-bottom: 200px;
}
.contact_story span {
    display: block;
    font-family: 'Yellowtail', cursive;
    margin-top: 100px;
    font-size: 50px;
    color: #333;
}
.contact_story .bottom_img  {
    margin-top: 100px;
}
.contact_story .bottom_img img {
    width: 200px;
    height: auto;
    animation: rotate_image 4s linear infinite;
    transform-origin: 50% 50%;
}
@keyframes rotate_image {
	100% {
    	transform: rotate(360deg);
    }
}


