.container {
    min-width: 1200px;
    position: relative;
}
.content {
    min-width: 1200px;
    text-align: left;
}
.cont_head {
    margin-bottom: 60px;
}
.cont_head h1 {
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 10px;
}
.cont_head span {
    color: #444;
    line-height: 1.5;
}

/*일러스트이미지 시작*/
.column {
    column-width: 350px;
    column-gap: 20px;
}
.column figure {
    display: inline-block;
    border: 1px solid rgb(230, 230, 230);
    padding: 30px;
    /* box-shadow: 2px 2px rgba(0,0,0,0.1);
    박스 그림자 효과 */
}
.column figure img {
    width: 100%;
}
figcaption {
    padding: 25px 0 20px;
    border-top: 1px solid rgb(230, 230, 230);
    margin-top: 10px; 
}   
figcaption h3 {
    font-size: 13px;
    padding-bottom: 3px;
    color: #111;
    border-bottom: 1px solid rgb(230, 230, 230);
}   
figcaption p {
    font-size: 11px;
    padding-top: 10px;
    color: #333;
}

/*이미지 애니메이션*/
.chatbox {
    animation:animatedbang 3s infinite;
}
.lotate_leg {
    transition: all ease 1s;
}
.lotate_leg:hover {
    transform: rotate( -360deg );
}
.orange_blind {
    animation:animateblind 3s infinite;
}
.orange_trans {
    transition: all ease 1s;
}
.orange_trans:hover {
    transform: rotateY(360deg);
}

/*미디어쿼리*/
@keyframes animatedbang {
    0%{transform:translateY(-220px);}
    50%{transform:translateY(0);}
    100%{transform:translateY(-220px);}
}

@keyframes animateblind {
    0%{opacity: 1;}
    50%{opacity: 0;}
    100%{opacity: 1;}
}