@charset "utf-8"; 

/* 메인 서비스 css */
.content_service {
    margin-top: 98px;
    margin-bottom: 112px;
}
.service_list_container {
    font-size: 0;
}
.service_thumbnail_box {
    display: inline-block;
    width: 33.3%;
    padding-top: 25%;
    background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    overflow: hidden;
}
.service_thumbnail_box.list1 {
    background-image: url(../img/img_main_content1.png);
}
.service_thumbnail_box.list2 {
    background-image: url(../img/img_main_content2.png);
}
.service_thumbnail_box.list3 {
    background-image: url(../img/img_main_content3.png);
}
.service_thumbnail_box.list4 {
    background-image: url(../img/img_main_content4.png);
}
.service_thumbnail_box.list5 {
    background-image: url(../img/img_main_content5.png);
}
.service_thumbnail_box.list6 {
    background-image: url(../img/img_main_content6.png);
}
.service_thumbnail_box.list7 {
    background-image: url(../img/img_main_content7.png);
}
.service_thumbnail_box.list8 {
    background-image: url(../img/img_main_content8.png);
}
.service_thumbnail_box.list9 {
    background-image: url(../img/img_main_content9.png);
}

.service_thumbnail_box:nth-child(2),
.service_thumbnail_box:nth-child(5),
.service_thumbnail_box:nth-child(8) {
    width: 33.4%;
}

.thumbnail_dimmed {
    display: block;
    font-size: 15px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(58,62,80,0.5);

    opacity: 0;
    filter: alpha(opacity=0);

    /*검은투명 배경이 천천히 보이도록*/
    transition: opacity .3s;
    -webkit-transition: opacity .3s;
}
.thumbnail_dimmed dl dt {
    font-family: 'NanumSquare-EB', "나눔고딕", sans-serif;
    font-size: 22px;
    color: #ffffff;
    margin-bottom: 2px;
}
.thumbnail_dimmed dl dd {
    font-family: 'NanumSquare-L', "나눔고딕", sans-serif;
    color: #ffffff;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.thumbnail_dimmed dl {
    position: absolute;
    bottom: -130px;
    padding-top: 50px;
    padding-left: 30px;
    width: 100%;
    transition: bottom 0.3s;
    -webkit-transition: bottom 0.3s;
}
.thumbnail_dimmed dl::before {
    content: "";
    display: block;
    clear: both;
    position: absolute;
    top: 0;
    left: 30px;
    width: 23px;
    height: 23px;
    background: url(../img/sprite.png) no-repeat;
    background-position: -199px -129px;
    background-size: 474px 1250px;
    -webkit-background-size: 474px 1250px;
}

/* hover style */
.thumbnail_dimmed:hover {
    opacity: 1;
    filter: alpha(opacity=1);
}
.service_thumbnail_box:hover .thumbnail_dimmed {
    opacity: 1;
    filter: alpha(opacity=1);
}

/* hover style botton up!*/
.thumbnail_dimmed:focus dl {
    bottom: 30px;
}
.service_thumbnail_box:hover .thumbnail_dimmed dl {
    bottom: 30px;
}