body {}
#wrap {
    width: 100%;
}
.section_wrap {
    padding: 0 50px;
    margin: 0 auto;
}
* {
   
    box-sizing: border-box;
}
/* 헤더 */
header {
    margin-bottom: 70px;
}
.header_wrap {

}

/* 탑 할인쿠폰 배너 */
.top_banner {

    display: inline-block;
    width: 100%;
    height: 56px;
    background-color: black;
    margin-bottom: 20px;
}
.top_banner #section_wrap {
    line-height: 56px;
}
.top_banner span {
    color: #fff;
    font-size: 15px;
    line-height: 56px;
}
.top_banner #section_wrap::after {
    content: '';
    display: block;
    clear: both;
}
.top_banner button {
    float: right;
    margin-top: 10px; /*이렇게 해서는 안 될것 같지만......*/
    background-color: orangered;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 50px;
}

/* 로고 */
.header_wrap .logo {
    margin-bottom: 20px;
    background: url(images/sp_29cm.png) no-repeat;
    background-position: 0 -89.5px;
    background-size: 200px 200px;
    width: 120px;
    height: 30px;
}

.header_wrap .menu_list {
    position: relative;
}

/* 메인메뉴 */

nav .main_menu {
    width: 100%;
    margin-bottom: 25px;
    height: 54px;
}
nav .main_menu::after {
    content: "";
    display: block;
    clear: both;
}
nav .main_menu > li {
    font-family: 'Spartan', sans-serif;
    float: left;
    font-size: 45px;
    font-weight: bold;
    margin-right: 30px;
}
nav .main_menu li .tv_29 {
    position: relative;
}
nav .main_menu li .tv_29::before {
    content: '';
    position: absolute;
    top: 0;
    right: -15px;
    width: 10px;
    height: 10px;
    background-color: orangered;
    border-radius: 100%;
}

/* 서브메뉴 */
nav .sub_menu_wrap {
    width: 100%;
    height: 25px;
}
nav .sub_menu {
}
nav .sub_menu > li {
    float: left;
    font-weight: 900;
    margin-right: 25px;
}
nav .sub_menu02 {
    display: inline-block;
    position: relative;
}
nav .sub_menu02::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 22px;
    background: black;
}
nav .sub_menu02 > li {
    float: left;
    font-weight: 300;
    font-style: italic;
    margin-left: 20px;
    /* border: 1px solid red; */
}

/* 마이메뉴 gnb */
.gnb {
    position: absolute;
    top: 0;
    right: 0;
}
.gnb .my_menu > a {
    display: inline-block;
    font-size: 12px;
    padding-left: 15px;
}
.gnb .my_menu a::before {
    display: inline-block;
    content: '';
    width: 17px;
    height: 19px;
    background: url(images/sp_29cm.png) no-repeat;
    background-size: 200px 200px;
    margin-right: 5px;
    vertical-align: middle;
}
.gnb .my_menu .my_heart::before {
    background-position: -25px 0;
}
.gnb .my_menu .shop_bag::before {
    background-position: -50px 0;
}
.gnb .my_menu .login::before {
    background-position: -75px 0;
}
/* 호버 밑줄 */
.main_menu > li > a:hover {
    border-bottom: 4px solid black;
}
.menu_list .sub_menu > li > a:hover, .menu_list .sub_menu02 > li > a:hover {
    border-bottom: 4px solid black;
} 


/* 헤더 스크롤 이벤트 */
#header.on {
    width: 100%;
    position: fixed;
    background-color: #fff;
    padding-top: 15px;
    border-bottom: 1px solid #ededed;
    z-index: 9999;
}
#header.on .top_banner {
    display: none;
}
#header.on .header_wrap .logo {
    float: left;
    margin-right: 30px;
    background: url(images/sp_29cm.png) no-repeat;
    background-position: 0 -25px;
    background-size: 200px 200px;
    width: 55px;
    height: 55px;
}
#header.on nav .main_menu > li {
    font-size: 27px;
}
#header.on nav .sub_menu_wrap {
    position: absolute;
    top: 44px;
    font-size: 13px;
    margin-left: 85px;
}
#header.on .gnb .my_menu > a {
    font-size: 0;
    padding-left: 10px;
}
#header.on .gnb .my_menu a::before {
    margin-right: 0;
}
#header.on .content_wrap {
    padding-top: 300px;
}

/* 섹션 */
section {
    width: 100%;
}
.content_wrap {
    width: 100%;
    position: relative;
}
.content_wrap .cont_left_wrap {
    width: 44%;
    padding-right: 40px;
    border-right: 1px solid #ededed;
}
.content_wrap .cont_left_wrap ul li img {
    width: 100%;
}
.content_wrap::after {
    content: '';
    display: block;
    clear: both;
}
.content_wrap > div {
    float: left;
}
.content_wrap .cont_right_wrap {
    width: 55%;
}
.content_wrap .cont_right_wrap ul {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.content_wrap .cont_right_wrap ul li {
    display: inline-block;
    width: 50%;
}
.content_wrap .cont_right_wrap ul li img {
    width: 100%;
}

/* 푸터 */
footer {
    padding: 50px 0;
}
.footer_top {
    margin-bottom: 50px;
    position: relative;
    padding-bottom: 50px;
    border-bottom: 1px solid #ededed;
}
.footer_top h2 {
    width: 100px;
    height: 5px;
    background-color: black ;
}
.footer_top .info strong {
    display: block;
    font-size: 40px;
    font-weight: 600;
    color: #000;
}
.footer_top .info p {
    display: inline-block;
    font-size: 12px;
    color: #5d5d5d;
    line-height: 1.5;
    margin-bottom: 10px;    
}
.footer_top .btn_black {
    display: inline-block;
    padding: 0 30px 0 10px;
    border-radius: 2px;
    background: #303033;
    font-size: 13px;
    color: #fff;
    line-height: 27px;
}
.footer_top .foot_sns {
    position: absolute;
    bottom: 50px;
    right: 17px;
    height: 35px;
}
.footer_top .foot_sns a {
    display: inline-block;
    width: 37px;
    height: 37px;
    background-image: url(images/sp_29cm.png);
    background-repeat: no-repeat;
    background-size: 200px 200px;
}
.footer_top .foot_sns .face {
    background-position: -150px 0;
}
.footer_top .foot_sns .insta {
    background-position: -150px -45px;
}
.footer_top .foot_sns .blog {
    background-position: -150px -90px;
}

/* 푸터 half */
.footer_half {
    padding-bottom: 50px;
    border-bottom: 1px solid #ededed;
}
.footer_half::after {
    content: '';
    display: block;
    clear: both;
}
.footer_half .notice_section {
    float: left;
    padding-right: 20px;
}
.footer_half .notice_list li a::after {
    content: "N";
    position: absolute;
    width: 17px;
    height: 17px;
    margin-left: 10px;
    background-color: #ff4800;
    color: #fff;
    font-size: 8px;
    line-height: 17px;
    text-align: center;
}

.footer_half h2.tit { /*하단 하프 공통*/
    font-size: 13px;
    font-weight: 700;
    color: #303033;
    line-height: 26px;
}
.footer_half ul li a { /*하단 하프 공통*/
    display: inline-block;
    overflow: hidden;
/*     max-width: 98%; */
    font-size: 12px;
    line-height: 22px;
    font-weight: 400;
    color: #303033;
}
.footer_half .menu_section {
    float: right;
}
.footer_half .menu_section > div {
    float: left;
    padding-left: 100px;
}

/* 푸터 라스트 */
.foot_last {
    color: #303033;
    position: relative;
}
.foot_last .foot_doc {
    margin: 12px 0 4px;
    font-size: 13px;
}
.foot_last .foot_corp {
    margin: 12px 0 4px;
    font-size: 11px;
}
.foot_last .foot_corp > div {
    margin-bottom: 8px;
}
.foot_last .foot_corp span {
    margin-right: 10px;
}
.foot_last .foot_corp button {
    display: inline-block;
    padding: 0 7px;
    background: #a4a4a4;
    color: #fff;
    line-height: 20px;
    border: none;
    font-size: 10px;
}

/* 푸터 라스트 앱 이미지 */
.foot_app {
    position: absolute;
    right: 0;
    bottom: 0;
}
.foot_app a {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(images/sp_29cm.png);
    background-repeat: no-repeat;
    background-size: 200px 200px;
    margin-left: 10px;
}
.foot_app .app1 {
    background-position: -127px -27px;
}
.foot_app .app2 {
    background-position: -127px -52px;
}
.foot_app .app3 {
    background-position: -127px -77px;
}




/* 미디어쿼리 */

