#wrap {
	min-width: 1120px;
	min-height: 100%;
}
header {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 9998;
	min-width: 1100px;
	background-color: rgba(255,255,255,0.97);
}
.header_wrap{
	max-width: 1600px;
	margin: 0 auto;
	border: 1px solid red;
	text-align: center;
}

/*logo*/

h1.header_logo {
	width: 87px;
	height: 17px;
	margin: 32px 0 0 32px;
	background: url("../img/header_logo.png") no-repeat;
	background-size: cover;
	float: left;	
}

.header_logo a {
	display: inline-block;
	width: 100%;
	height: 100%;
}

/*main menu*/
nav{
		border: 1px solid red;
		display: inline-block;

	}

ul.gnb_menu{
	font-size: 0;
	text-align: center;
}

	li.gnb_menu_list, li.gnb_menu_list_recruit{
			display: inline-block;
			font-size: 1rem;
	}

	a.gnb_menu_item{
	display: block;
	margin: 0 32px;
	padding:30px 0 30px;
	font-size: 15px;
	color: #333;
	position: relative;
}

.gnb_menu .gnb_menu_list .gnb_menu_item:before, 
.gnb_menu .gnb_menu_list_recruit .gnb_menu_item:before{
	content: '';
	position: absolute;
	left: -1px;
	bottom: 20px;
	width:calc(100% + 2px);
	height: 2px;
	background-color: #1ec545;
	-webkit-transform-origin: 0 0;
  	transform-origin: 0 0;
  	-webkit-transform: scaleX(0);
 	 transform: scaleX(0);
 	 transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);	
}

.gnb_menu .gnb_menu_list:hover .gnb_menu_item:before, 
.gnb_menu .gnb_menu_list .gnb_menu_item:focus:before, 
.gnb_menu .gnb_menu_list_recruit:hover .gnb_menu_item:before, 
.gnb_menu .gnb_menu_list_recruit .gnb_menu_item:focus:before
{
	-webkit-transform: scaleX(1);
transform: scaleX(1);
} 

/*util*/
.header_util{
	float: right;
	margin:30px 25px 0 0;
	width: 144px;
}
.header_lang{
	display: inline-block;
	vertical-align: middle;
	margin: 0 41px 0 0;
	font-size: 13px;
}
/*<div class="header_util">
					<div class="header_lang">
						<a href="#">KOR</a>
						<a href="#">ENG</a>
					</div>*/
.header_lang a:first-child{
color: #333;
border-right: 1px solid rgba(0,0,0, 0.3);
padding-right:11px;
}
.header_lang a:last-child{
color: #333;
padding-left:7px;	
}

	
/*드랍메뉴*/
.gnb_dropmenu_wrap{
	display: none;
    min-width: 1100px;
    height: 276px;
    background-color: rgb(30,197,69);
    z-index: 999;
    position: absolute;
    left: 0;
    right: 0;
    top:80px;
    text-align: center;
    font-size: 0;
    /*드랍다운 박스 쉐도우*/
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2)
}

.gnb_menu_list:hover .gnb_dropmenu_wrap{
	display: block;
}

.gnb_dropmenu_wrap > li{

	display: inline-block;
	width: 190px;
	height: 276px;
	padding-top: 28px;
	font-size: 1rem;
	vertical-align: top;
	border-left:1px solid rgba(255,255,255,0.3);
}
/*li 오른쪽 라인 생성*/
.gnb_dropmenu_wrap > li:last-child{
	border-right: 1px solid rgba(255,255,255,0.3);
}


.gnb_dropmenu_wrap > li:hover{
	background-color: #0fb93c;
}

/*드랍다운 메뉴 스타일 */
.gnb_dropmenu > li{
	margin: 0 0 5px;
	font-size: 15px;
	text-align: left;
}
.gnb_dropmenu a{
	color: #fff;
	font-size: 15px;
}
.gnb_dropmenu > li.depth_blank{
	margin-bottom: 14px;
}
.classify{
border-top: 1px solid rgba(255,255,255,0.3);
	margin-bottom: 25px;
	padding-top: 17px;
}


/*
<ul class="gnb_dropmenu classify">
<li class="depth_blank classify"><a href="" class="gnb_dropmenu_item"><strong>공시정보</strong></a></li>
*/
.classify1 li {
  padding-top: 0;
  border-top: 0;
}

