* {
	/* border: 1px solid red; */
	
}
#wrap {
	position: relative;
	width: 100%;
}
#wrap_section {
	width: 1100px;
	margin: 0 auto;
}

/* 헤더 */
.header_wrap {
	position: relative;
	width: 100%;
	
}
.header {
	position: relative;
}
.header a {
	color: #666;
}
.top_menu_wrap {
	border-bottom: 1px solid rgba(255,255,255,0.2);
    background-color: #fff;
    border-bottom: 1px solid #351f67;
}
.top_menu {
	position: relative;
	width: 100%;
	height: 90px;
	
}
.top_menu .top_menu_left {
	position: absolute;
	top: 15px;
	left: 0;
	font-size: 13px;
}
.top_menu .top_menu_left::after {
	content: '';
	display: block;
	clear: both;
}
.top_menu .top_menu_left > li {
	float: left;
}
.top_menu .top_menu_left > li > a {
	color: #888;
	margin-right: 20px;
}
.top_menu .top_menu_right {
	position: absolute;
	top: 15px;
	right: 0;
	font-size: 13px;
}
.top_menu .top_menu_right::after {
	content: '';
	display: block;
	clear: both;
}
.top_menu .top_menu_right > li {
	float: left;
}
.top_menu .top_menu_right > li > a {
	color: #888;
	margin-left: 20px;
}
.top_ads_box {
	width: 100%;
	height: 80px;
	background-color: #4f79a9;
}



/* 메인 메뉴 */
.main_menu {
	width: 100%;
	height: 90px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9999;
}
.main_menu .main_logo {
	position: absolute;
	line-height: 80px;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
}
/* .main_menu .main_logo > a > img {
	animation: heartBeat;
	animation-duration: 2s;
} */

.main_menu .gnb_icon_left {
	position: absolute;
	top: 40px;
	left: 0;
	z-index: 9999;
}
.main_menu .gnb_icon_left a {
	width: 36px;
	height: 36px;
	display: inline-block;
} 
.main_menu .gnb_icon_left a.dropdown_button {
	background: url(../img/ico-sitemap.png) no-repeat;
	background-position: center center;
	margin-right: 5px;
}
.main_menu .gnb_icon_left a.dropdown_button.on {
	background: url(../img/btn-header-layer-close.png) no-repeat;
	background-position: center center;
}
.main_menu .gnb_icon_left a.search_btn {
	background: url(../img/ico-search.png) no-repeat;
	background-position: center center;
}
.main_menu .gnb_icon_left a.search_btn.on {
	background: url(../img/btn-header-layer-close.png) no-repeat;
	background-position: center center;
}
.main_menu .gnb_icon_right {
	position: absolute;
	top: 43px;
	right: 0;
}
.main_menu .gnb_icon_right a {
	padding-left: 10px;
}


.main_menu_list.left, .main_menu_list.right {
	position: absolute;
	top: 50px;
	width: 40%;
}
.main_menu_list.left {
	left: 0;
	padding-left: 160px;
}
.main_menu_list.right {
	right: 80px;
	padding-left: 160px;
}
.main_menu_list.left::after, .main_menu_list.right::after {
	content: '';
	display: block;
	clear: both;
}
.main_menu_list.left > li {
	float: left;
	width:calc(100% / 3);
}
.main_menu_list.right > li {
	float: left;
	width:calc(100% / 3);
}
.main_menu_list .menu_1depth {
	padding-bottom: 18px;
	font-weight: bold;
	font-size: 16px;
}
.main_menu_list .sub_menu { /*서브메뉴 배경 가로 100% 파란색*/
	opacity: 0;
	display: inline-block;
    position: absolute;
	top: 40px;
	left: 0;
	right: 0;
    width: 100%;
    height: 42px;
	visibility: hidden;
	background-color: #339eb2;
}
.main_menu_list .sub_menu li a {
    display: inline-block;
	padding: 10px 20px 0 0;
	color: #fff;

}
.main_menu_list > li:hover .sub_menu {
    opacity: 1;
    visibility: visible;
}
.main_menu_list .menu_1depth:hover {
	border-bottom: 3px solid #fff;
}
.main_menu_list .sub_menu::after{
	content: '';
	display: block;
	clear: both;
}
.main_menu_list .sub_menu > li {
	float: left;
}

/*서브메뉴 위치*/
.main_menu_list li:nth-child(1) .sub_menu {
	left: 66px;
}
.main_menu_list li:nth-child(2) .sub_menu {
	left: 103px;
}
.main_menu_list li:nth-child(3) .sub_menu {
	left: 293px;
}
.main_menu_list li:nth-child(4) .sub_menu {
	left: 36px;
}
.main_menu_list li:nth-child(6) .sub_menu {
	left: 265px;
}


/* 햄버거 클릭 시 전체 메뉴 보이도록 */
#layer_sitemap {
	display: none;
	position: absolute;
	left: 0;
	top: 90px;
	z-index: 99999;
	width: 100%;
	min-width: 1100px;
	height: 810px;
	overflow: auto;
	background-color: #333;
}
.sitemap_wrap {
	overflow: hidden;
	position: relative;
	width: 1100px;
	height: 100%;
	margin: 0 auto;
}
.sitemap_wrap .tit {
	padding: 50px 0 0 0;
	font-size: 20PX;
	color: #fff;
	margin-bottom: 30px;
}
.sitemap_wrap .list_wrap::after {
	content: '';
	display: block;
	clear: both;
}
.list_wrap > div.sitemap_list {
	float: left;
}
.list_wrap > div.sitemap_list.last {
}
.sitemap_list {
	text-align: center;
	padding-left: 25px;
	margin-bottom: -138px;
}
.sitemap_list.second {
	padding-left: 0;
}
.sitemap_list:first-child {
	padding-left: 0;
}
.sitemap_list .tit_depth {
	display: inline-block;
	color: #fff;
	font-size: 17px;
	padding: 15px 60px;
	border-top: 1px solid #444;
	border-bottom: 1px solid #444;
	margin-bottom: 20px;
}
.sitemap_list .tit_depth.last {
	padding: 15px 30px;
}
.sitemap_list .list_depth li {
	padding: 10px 0;
}
.sitemap_list .list_depth li a {
	font-size: 14px;
	color: #999;
}


/* 컨테이너 */
main {
	width: 100%;
	min-width: 1100px;
	min-height: 100%;
}
main::after {
	clear: both;
}
main .cont_top {
	display: block;
	position: static;
	width: 100%;
	height: 42px;
	background-color: #f8f8fa;
}
main .cont_top .top_txt {
	float: left;
}
main .cont_top .top_txt a {
	color: #666;
	font-size: 14px;
	font-weight: 400;
	line-height: 42px;
	vertical-align: middle;
	margin-right: 5px;
}
main .cont_top .top_txt img {
	width: 13px;
	line-height: 42px;
	margin-bottom: 3px;
}
main .cont_top .top_txt a::after {
	content: '';
	background: url(../img/bg-location-arr.png) no-repeat;
	width: 5px;
	height: 9px;
	display: inline-block;
	margin-left: 10px;
}
main .cont_top .top_txt a:last-child::after {
	content: '';
	background: none;
}

/*왼쪽 사이드*/
.content { 
	padding: 50px 0 0 0; 
}
.contetnt #wrap_section::after {
    content: '';
    display: block;
    clear: both;
}
.left_side {
    float: left;
	width: 200px;
}
nav {

}
nav .nav_tit {
    padding: 40px 0;
    background-color: #333;
    border-radius: 10px 10px 0 0;
}
nav .nav_tit a {
    display: block;
    color: #fff;
    text-align: center;
}
nav .nav_list {
    border: 1px solid #d8d9db;
}
nav .nav_list li {
    padding: 12px 15px;
    background-color: #f2f4f5;
    border-bottom: 1px solid #d8d9db;
}
nav .nav_list li a {
	color: #444;
}
nav .nav_info {
	padding: 20px;
    border: 1px solid #d8d9db;
	background-color: #fff;
	border-radius: 0 0 10px 10px;
	color:#777777;
	line-height: 1.7;
}
nav .nav_info .cs_center {}
nav .nav_info .cs_center::after {
	content: '';
	display: block;
	margin: 10px 0 5px 0;
	width: 20px;
	height: 1px;
	background-color: #d8d9db;
}

nav .nav_info .num {
	font-size: 25px;
	color: #503396;
}
nav .nav_info .time {}

/*오른쪽 사이드*/
.right_side {
	color: #333;
	width: calc(100% - 260px);
	margin-left: 260px;
}
.right_side h2.r_side_tit {
	font-size: 30px;
	font-weight: 400;
	margin-bottom: 30px;
}
.right_side .r_side_txt {
	margin-bottom: 30px;
}
.right_side .info_area {
	border: 1px solid #d8d9db;
	border-radius: 10px;
	margin-bottom: 20px;
}
.right_side .info_area h2 {
	border-bottom: 1px solid #d8d9db;
	padding: 20px 0 20px 30px;
	font-size: 18px;
}
.right_side .info_area h2 span {
	font-size: 15px;
	font-weight: lighter;
	color: red;
}
.right_side .info_area .area_txt {
	padding: 35px 0 35px 30px;
	line-height: 1.5;
}
.right_side .info_area .info_area_bot {

}

.must_check {text-align: right;}

/*테이블*/
.table_area {
	width: 100%;
	border-bottom: 1px solid #d8d9db;
	border-top: 1px solid #d8d9db;
	margin: 60px 0;
	text-align: left;
}
.table_area tbody {}
.table_area tbody tr {
	display: block;
	border-bottom: 1px solid #d1d5dd;
	/* height: 50px; */
}
.table_area tbody tr:last-child {
	border-bottom: none;
}
.table_area tbody tr th {
	padding-left: 15px;
	width:150px;
	background-color: #f7f8f9;
}
.table_area tbody tr th span {
	color: red;
}
select:hover,
select:focus {
	border-color: #333;
}
.inp:hover,
.inp:focus {
	border-color: #333;
}
.inp.s-s {
	width:80px;
}
.table_area tbody tr td .inp.tel {
	width: 60px;
}
.table_area textarea {
	display: inline-block;
    width: 100%;
    height: 200px;
    padding: 10px;
    line-height: 16px;
    color: #333;
    border-radius: 0!important;
    border: 1px solid #d8d9db;
    vertical-align: middle;
}

.right_side button {
	display: block;
	text-align: center;
	padding: 10px 25px;
	border-radius: 5px;
	background-color: royalblue;
	color: #fff;
	margin: 0 auto 100px;
}

/* 푸터 */
footer {
	width: 100%;
    padding: 50px 0 50px 0;
	position: relative;
	background-color: #f8f8fa;
}
.foot_info {}
.foot_info #wrap_section::after {
	content: '';
	display: block;
	clear: both;
}
.foot_info .foot_brand {
	position: relative;
}
.foot_info .foot_brand .foot_nav {
	margin-bottom: 40px;
}
.foot_info .foot_brand .foot_nav::after {
	content: '';
	display: block;
	clear: both;
}
.foot_info .foot_brand .foot_nav a {
	float: left;
	padding-right: 12px;
	color: #666;
	line-height: 30px;
	font-size: 13px;
}
.foot_info .foot_brand .foot_searh {
	position: absolute;
	top: 0;
	right: 0;
	line-height: 30px;
	padding: 2px 30px;
	border-radius: 100px;
	border: 1px solid rgb(216, 216, 216);
}
.foot_info .foot_brand .foot_searh a {
	font-size: 13px;
	color: #666;
}
.foot_info .foot_brand .foot_searh a i {
	margin-right: 10px;
	font-size: 15px;
}
.foot_info .foot_logo {
	float: left;
	margin-right: 20px;
}
.foot_info .foot_info_txt {
	float: left;
	font-size: 13px;
	line-height: 18px;
	color: #666;
}
.foot_info .foot_sns {
	float: right;
}
.foot_info .foot_sns a {
	padding-left: 5px;
}
.foot_info .foot_sns a img {
	width: 30px;
	animation: bounceIn;
	animation-duration: 1s;
	animation-delay: 0.2s;
	-webkit-filter: grayscale(100%);
    filter: gray;
}
.foot_info .foot_sns a img:hover {
	width: 30px;
	animation: bounceIn;
	animation-duration: 1s;
	animation-delay: 0.2s;
	-webkit-filter: grayscale(0%);
    filter: none;
}

/*미디어쿼리*/
@media screen and (max-width: 1100px) {
	.top_btn { display: none; } 
}
