@charset "utf-8";

/* reset */
html {-webkit-text-size-adjust: none; text-size-adjust: none;}
body {margin: 0;}
* {box-sizing: border-box;}
html,body,div,span,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,blockquote,p,address,pre,cite,form,fieldset,input,textarea,select,table,th,td{padding:0;margin:0}
h1, h2, h3, h4, h5, h6 {font-weight: 700;}
fieldset,img,abbr,acronym{border:0 none}
ul,ol{list-style-type:none}
address, caption, em, cite{font-weight:normal;font-style:normal}
b,strong{font-weight:normal;}
a{color: inherit; text-decoration: inherit; cursor: url('../../images/pointer_a.png'),auto;}
li {list-style: none;}
img {vertical-align: middle; max-width: 100%;}
address, em, i, cite {font-style: normal;}
fieldset, button, input, select{vertical-align:middle}
table {border-collapse: collapse;}
table caption {overflow: hidden; width: 0; height: 0;}
i[class^="fa"] {position: relative; display: inline-block; vertical-align: middle;}
i[class^="fa"] span {position: absolute; left: -9999px;}
.ir-hidden {position: absolute; left: -9999px;}
textarea:focus, input:focus, select:focus{outline:0;}
input {font-family: inherit;}
.mobile {display: none !important;}
br.only-m {content: '';}
br.only-m::after {content: '\00a0';}


/*common*/
body#progect-page {color:#fff; font-family: 'NotoSansKR', sans-serif; font-weight: 400; font-size:16px; line-height: 1.4; cursor: url('../../images/pointer.png'), auto; background-color: #333;}
body .eng {font-family: 'Montserrat', sans-serif;}
#skip-nav {position: fixed; left: 0; top: -40px; width: 100%; line-height: 40px; text-align: center; background-color: rgba(0, 0, 0, 0.6); color: #ffffff; font-size: 16px; transition: top 0.3s; z-index: 100000;}
#skip-nav:focus {top: 0;}
body .content-box {max-width: 1024px; margin: 0 auto; position: relative;}
#wrapper {overflow: hidden;}
::selection {background-color: #e9d649; color: #fff;}

header {margin-bottom: 115px;color: #666666;}
body#sub02 header, body#sub02 header a,
body#sub02 footer, body#sub02 footer a, body#sub02 footer h1 {color: #ffffff;}
body#sub04 header, body#sub04 header a,
body#sub04 footer, body#sub04 footer a, body#sub04 footer h1 {color: #ffffff;}
header .hd-top {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 75px;
  line-height: 75px;
  padding: 0 50px;
  border-bottom: 1px solid #999999;
}

#sub04 header .hd-top {
  border-bottom: 1px solid #fff;
}
header .hd-top h1, header .hd-top em {font-size: 20px; font-weight: bold; text-align: left; color: #333;}
header .hd-top h1 a {display: block; color: #fff;}
header .hd-top em {text-align: right; color: #445CFC;}
header nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 50px;
  height: 75px;
  line-height: 75px;
}
header nav .left em {display: block; color: #ddd;}
header nav .right {
  display: flex;
}
header nav .right_mb {
  display: none;
}
header nav .right_mb .mb_menu_btn {
  display: block;
  width: 30px;
  height: 30px;
}
header nav .right_mb .mb_menu_btn span {
  width: 30px;
  height: 1px;
  display: block;
  margin: 5px 0;
  background-color: #333;
}
header nav .right_mb .mb_menu {
  display: none;
}
header nav .right a {padding-left: 20px; transition: all ease .2s; color: #ddd; font-size: 14px;}
header nav .right a:hover {text-decoration: underline; color: #FFE162; transform: translateY(5px);}
header h1,
footer h1 {
  font-family: 'Montserrat', sans-serif;
}
footer {width: 100%; margin-bottom: 50px;}
footer .foot-abt {
  padding: 0 50px;
  width: 100%;
  height: 75px;
  line-height: 75px;
  border-top: 1px solid #999999;
  border-bottom: 1px solid #999999;
  display: flex;
  justify-content: space-between;
}
footer nav .left a img {
  width: 20px;
  vertical-align: middle;
  display: inline-block;
  margin-left: 5px;
  margin-bottom: 4px;
  opacity: 0.7;
}
footer .foot-abt .abt-wrap {
  display: flex;
}
footer .foot-abt .abt-wrap li {
  padding-left: 20px;
}
footer .foot-abt .abt-wrap li a {
  font-size: 15px;
}
footer .foot-abt h1 {
  font-size: 20px;
  font-weight: 900;
}
footer nav {
  padding: 0 50px;
  width: 100%;
  height: 75px;
  line-height: 75px;
  border-bottom: 1px solid #999999;
  display: flex;
  justify-content: space-between;
}
footer nav .left em {font-weight: 500; font-size: 20px; color: #445CFC;}
footer nav .right select {
  padding: 10px 20px;
}

/* main */
#main section {text-align: center;}
#main section + section {padding: 80px 0;}
#main section h2.tit {font-weight: 800; font-size: 70px; margin-bottom: 45px; position: relative; color: #FFE162;}
#main section h2.tit::after {content: ''; position: absolute; bottom: -12px; left: 50%; transform: translateX(-50%); width: 50px; height: 5px; background-color: #4C4CFF;}

#main .project-link {text-align: center; margin-bottom: 70px;}
#main .project-link ul li {display: inline-block;}
#main .project-link ul li + li {margin-left: 10px;}
#main .project-link ul li a {font-size: 13px; color: #ddd; padding: 5px 10px; border: 1px solid #ddd; border-radius: 50px; display: block; transition: all .2s ease;}
#main .project-link ul li a:hover {color: #fff; background-color: #4C4CFF; border-color: #4C4CFF;}


#main .project {width: 100%;}
#main .project .project-wrap + .project-wrap {padding-top: 120px;}
#main .project .project-wrap em {font-weight: 700; font-size: 18px; margin-bottom: 20px; display: block; text-align: left;border-bottom: 1px solid #ddd;padding-bottom: 15px;}
#main .project .project-cont {display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap; text-align: left;}
#main .project .project-cont li {width: calc(100% / 3 - 6px); height: auto; margin-bottom: 50px; background-color: #fff; border-radius: 10px; overflow: hidden; box-shadow: 0 1px 1px rgba(0,0,0,0.1), 
  0 2px 2px rgba(0,0,0,0.1), 0 4px 4px rgba(0,0,0,0.1),  0 8px 8px rgba(0,0,0,0.1), 0 16px 16px rgba(0,0,0,0.1);}
#main .project .project-cont li a {display: block;}
#main .project .project-cont li .thum-img {width: 100%; height: 200px; overflow: hidden;}
#main .project .project-cont li .txt-cont {width: 100%; height: auto; overflow: hidden; padding: 20px 15px;}
#main .project .project-cont li img {display: block; width: 100%; height: auto; transition: all .4s ease;}
#main .project .project-cont li img:hover {transform: scale(1.2);}
#main .project .project-cont li p {margin-bottom: 15px; font-weight: 700; color: #333;}
#main .project .project-cont li span {font-size: 14px; color: #999; line-height: 2;}

#main #say-goodbye {padding: 80px 0;}
#main #say-goodbye h3 {font-size: 14px; font-weight: 400; color: #ddd;}


/*module*/

