@charset "utf-8";

header {
	position: fixed;
	top: 0;
	width: 100%;
	padding: 2rem;
	
	z-index: 99;

	.header-inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.site-logo {
		border: 4px solid $black;
		animation: rotating-03 10s linear infinite;
		transform-style: preserve-3d;
		display: flex;
		justify-content: center;
		.text {
			font-size: 2rem;
			font-weight: 700;
			transform: translateZ(3rem);
		}
	}
	.gnb {
		.gnb-list {
			.gnb-item {

			}
		}
	}
	.header-util {
		.util-list {
			.util-item {

			}
		}
	}
}

.main {
	
}

// FOOTER 공통
footer {
	position: relative;
    width: 100%;
    padding: 6rem 6rem 4rem 6rem;
	z-index: 99;
	.footer-header {

	}
	.footer-body {

	}
	.btn-to-top {
        position: fixed;
        bottom: 1.6rem;
        right: 6rem;
        z-index: 1;
        transition: 0.3s ease;
        opacity: 0;
        visibility: hidden;

        .top-btn {
            .btn-text {
                display: block;
                text-align: center;
				font-size: 1.4rem;
				font-weight: 700;
                color: red;
            }
        }
    
        &.active {
            visibility: visible;
            opacity: 100%;
        }
        &.fixed {
            position: absolute;
            top: -6rem;
            bottom: unset;
        }
        @include mobile {
            right: 1.7rem;
        }
    }
}

aside {
	position: fixed;
	top: 50%;
	right: 2rem;
	transform: translateY(-50%);
	.aside-util {
		display: flex;
		flex-direction: column;

		.util-item {
			font-size: 1.3rem;
			font-weight: 700;
			color: $black;
			text-align: right;
		}
	}
}

// Archivo font
.arch {
	font-family: "Archivo Black", sans-serif;
}

// IR기법
.blind {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	border: 0;
	white-space: nowrap;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	overflow: hidden;
}

// 반응형 대응
@include web {
	.pc-only {
		display: block !important;
	}
	.mo-only {
		display: none !important;
	}
}

@include mobile {
	.pc-only {
		display: none !important;
	}
	.mo-only {
		display: block !important;
	}
}

// SKIP NAV
.skip-nav {
	ul {
		li {
			a {
				display: flex;
				position: absolute;
				top: -10rem;
				right: 0;
				left: 0;
				height: 5.6rem;
				background: color(neutral, 080);
				color: color(system, 070);
				font-size: 1.6rem;
				line-height: 5.6rem;
				text-align: center;
				flex-direction: column;
				justify-content: center;
				z-index: 99999;

				&:focus-within,
				&:focus,
				&:active {
					top: 0;
				}
			}
		}
	}
}