#wrap {
    .local-body {
        min-height: 100vh;
        margin-inline: auto;
        @include web {
            min-height: calc(100vh - 22.9rem);
        }
        @include mobile {
            min-height: calc(100vh - 40.4rem);
        }
        section {
            &.case1 {
                &.full {
                    max-width: unset;
                    width: 100%;
                }
            }
        }
    }
}

header {
	position: fixed;
    height: var(--header-height);
	top: 0;
	width: 100%;
	padding: 2rem;
	z-index: 99;

	.header-inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.site-logo {
		border: 4px solid $black;
		animation: rotating-03 10s linear infinite;
		transform-style: preserve-3d;
		display: flex;
		justify-content: center;
		.text {
			font-size: 2rem;
			font-weight: 700;
			transform: translateZ(3rem);
		}
	}
	.gnb {
		.gnb-list {
			.gnb-item {

			}
		}
	}
	.header-util {
		.util-list {
			.util-item {

			}
		}
	}
}

footer {
	position: relative;
    width: 100%;
    padding: 6rem 6rem 4rem 6rem;
	z-index: 99;
	.footer-header {

	}
	.footer-body {

	}
	.btn-to-top {
        position: fixed;
        bottom: 1.6rem;
        right: 6rem;
        z-index: 1;
        transition: 0.3s ease;
        opacity: 0;
        visibility: hidden;

        .top-btn {
            .btn-text {
                display: block;
                text-align: center;
				font-size: 1.4rem;
				font-weight: 700;
                color: red;
            }
        }
    
        &.active {
            visibility: visible;
            opacity: 100%;
        }
        &.fixed {
            position: absolute;
            top: -6rem;
            bottom: unset;
        }
        @include mobile {
            right: 1.7rem;
        }
    }
}

aside {
	position: fixed;
	top: 50%;
	right: 2rem;
	transform: translateY(-50%);
	.aside-util {
		display: flex;
		flex-direction: column;

		.util-item {
			font-size: 1.3rem;
			font-weight: 700;
			color: $black;
			text-align: right;
		}
	}
}