@use "sass:map";
@use "sass:color";
@use "sass:math";

// breakpoints
$mobile : 320px;
$tablet : 1024px;
$web : 1920px;

:root {
    --color-primary: #feb05d;
    --color-secondary: #5a7acd;
    --color-secondary2: #7F9ADF;
    --color-secondary3: #1C44A8;
    --color-dark: #2a2a2b;
    --color-cream: #f6f8ff;
    --color-dark2: #1d1d1e;
    --color-dark3: #38383a;
    --color-cream2: #e9e9e9;
    --muted: rgba(208, 223, 255, 0.45);
    --line: rgba(208, 221, 255, 0.14);
}