@charset "utf-8";

/* reset */
html {-webkit-text-size-adjust: none; text-size-adjust: none;}
body {margin: 0;}
h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, p {margin: 0; padding: 0;}
h1, h2, h3, h4, h5, h6 {font-weight: 700;}
a {color: inherit; text-decoration: inherit;}
li {list-style: none;}
img {vertical-align: middle; max-width: 100%;}
address, em, i, cite {font-style: normal;}
table {border-collapse: collapse;}
table caption {overflow: hidden; width: 0; height: 0;}
i[class^="fa"] {position: relative; display: inline-block; vertical-align: middle;}
i[class^="fa"] span {position: absolute; left: -9999px;}
.ir-hidden {position: absolute; left: -9999px;}
.mobile {display: none !important;}
br.only-m {content: '';}
br.only-m::after {content: '\00a0';}


/* common */
body {font-family: 'NotoSansKR', sans-serif; font-size: 14px; color: #05141f; background: #ffffff;}
#wrapper {min-width: 1024px; overflow: hidden; position: relative; height: 200;}
#skip-nav {position: fixed; left: 0; top: -40px; width: 100%; line-height: 40px; text-align: center; background-color: rgba(0, 0, 0, 0.8); color: #ffffff; font-size: 16px; transition: top 0.3s; z-index: 100000;}
#skip-nav:focus {top: 0;}
#header {position: fixed; left: 0; top: 0; width: 100%; z-index: 10000; transition: background-color 0.3s;}
#header::after {content: ''; position: absolute; left: 0; bottom: 0; width: 100%; height: 1px; background-color: rgba(255, 255, 255, 0.2);}
#header > div.top {background-color: #05141f; color: rgba(255, 255, 255, 0.6); font-size: 12px;}
#header > div.top > div.content-box {position: relative; max-width: 1440px; height: 30px; margin: 0 auto;}
#header > div.top ul {position: absolute; top: 50%; transform: translate(0, -50%);}
#header > div.top ul > li {float: left; line-height: 30px;}
#header > div.top ul > li + li::before {content: '|'; margin: 0 10px; font-size: 8px; color: rgba(255, 255, 255, 0.2);}
#header > div.top ul > li i {margin-right: 6px;}
#header > div.top ul > li > a:hover {color: #ffffff; text-decoration: underline;}
#header > div.top ul.pr {left: 0;}
#header > div.top ul.function {right: 0;}
#header > div.top ul.function > li.search p {position: relative; display: none;}
#header > div.top ul.function > li.search p input {border: none; background-color: transparent; color: #ffffff; font-family: inherit; font-size: 12px; width: 130px; padding-left: 10px; padding-right: 30px; box-sizing: border-box;}
#header > div.top ul.function > li.search.on > a {display: none;}
#header > div.top ul.function > li.search.on p {display: inline-block;}
#header > div.top ul.function > li.search.on p a {font-size: 16px; position: absolute; right: 0; color: #ffffff;}
#header h1 {position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);}
#header h1 a {display: block;}
#header h1 a img {display: block;}
#header > div.bottom > div.content-box {position: relative; max-width: 1440px; height: 80px; margin: 0 auto;}

#gnb > ul {position: absolute; top: 50%; transform: translate(0, -50%);}
#gnb > ul.content {left: 0; width: 100%;}
#gnb > ul.etc {right: 0;}
#gnb > ul > li {float: left;}
#gnb > ul > li + li {margin-left: 2px;}
#gnb > ul > li > a {display: block; padding: 0 20px; line-height: 80px; font-size: 17px; font-weight: 700; color: #ffffff; transition: color 0.3s;}
#gnb > ul.content > li:first-child > a {padding-left: 0;}
#gnb > ul.etc > li:last-child > a {padding-right: 0;}
#gnb > ul > li.open > a,
#gnb > ul > li > a:hover {text-decoration: underline;}
#gnb > ul > li > ul {background: #ffffff; position: absolute; width: 240px; overflow: hidden; height: 0; transition: height 0.3s;}
#gnb > ul > li > ul > li {border-top: 1px solid #e0e0e0;}
#gnb > ul > li > ul > li > a {display: block; line-height: 50px; padding: 0 20px; font-size: 15px;}
#gnb > ul > li > ul > li > a:hover {text-decoration: underline;}
#gnb div.vehicle {position: absolute; background: #ffffff; width: 100%;  box-sizing: border-box; height: 0; overflow: hidden;}
#gnb div.vehicle dl {position: relative; height: 420px; border: 1px solid rgba(5, 20, 31, 0.2);}
#gnb div.vehicle dl::before {content: ''; position: absolute; left: 0; top: 60px; width: 100%; height: 1px; background: #e0e0e0;}
#gnb div.vehicle dl > dt {float: left; line-height: 60px; font-size: 16px; margin-left: 30px;}
#gnb div.vehicle dl > dt.on {font-weight: 700; /*text-decoration: underline;*/}
#gnb div.vehicle dl > dt input {position: absolute; opacity: 0;}
#gnb div.vehicle dl > dt label::before {content: '\f111'; font-family: 'Font Awesome 5 Free'; font-weight: 400; margin-right: 6px;} 
#gnb div.vehicle dl > dt input:checked + label::before {content: '\f192'; font-family: 'Font Awesome 5 Free'; font-weight: 400;}
#gnb div.vehicle dl > dt input:focus + label {outline: 2px dashed #05141f;}
#gnb div.vehicle dl > dd {position: absolute; left: 0; top: 60px; width: 100%; height: 360px; overflow: auto; display: none;}
#gnb div.vehicle dl > dt.on + dd {display: block;}
#gnb div.vehicle dl > dd > ul > li {float: left; width: 20%; height: 180px; box-sizing: border-box; text-align: center;}
#gnb div.vehicle dl > dd > ul > li > a {display: block; height: 100%; padding-top: 20px; box-sizing: border-box;}
#gnb div.vehicle dl > dd > ul > li img {width: 190px;}
#gnb div.vehicle dl > dd > ul > li em {display: block; font-size: 17px; font-weight: 700; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
#gnb div.vehicle > ul {overflow: hidden; border: 1px solid #ddd; border-top: none;}
#gnb div.vehicle > ul > li {float: left; line-height: 50px; margin-left: 30px; font-size: 15px;}
#gnb div.vehicle > ul > li + li::before {content: '\f054'; font-family: 'Font Awesome 5 Free'; font-weight: 700; font-size: 6px; margin-right: 5px; position: relative; top: -2px;}
#gnb div.vehicle > ul > li a:hover {text-decoration: underline;}


#header.white,
#header.open {background-color: #ffffff;}
#header.white #gnb > ul > li > a,
#header.open #gnb > ul > li > a {color: #05141f;}
#header.move {position: absolute;}

#footer {position: relative; padding: 80px 0 45px; background: #05141f; color: #fff;}
#footer .footer-inner {position: relative; width: 100%; max-width: 1400px; margin: 0 auto; padding: 0 60px 0; box-sizing: border-box;}
#footer .footer-logo {margin-bottom: 50px;}
#footer #footer-top {display: flex; justify-content: space-between;}
#footer #footer-top .menu ul li {margin-bottom: 18px;}
#footer #footer-top .menu ul li a {font-size: 18px; display: block; font-weight: 700; transition: all .2s ease;}
#footer #footer-top .menu ul li a:hover {text-decoration: underline;}

#footer #footer-top .car {width: 34%; display: flex; justify-content: space-between;}
#footer #footer-top .car ul li {margin-bottom: 10px;}
#footer #footer-top .car ul li a {color: rgba(255,255,255,0.6); transition: all .2s ease;}
#footer #footer-top .car ul li a:hover {color: #fff; text-decoration: underline;}
#footer #footer-top .award ul li {margin-bottom: 18px;}
#footer #footer-top .award ul li img {display: inline-block; margin-right: 10px;}
#footer #footer-top .award ul li p {display: inline-block; color: rgba(255,255,255,0.6); vertical-align: top; font-size: 12px;}

#footer #footer-top .tit-txt {color: #fff; font-weight: 700;}







/*main*/
#main-visual {position: relative;}
#main-visual div.image-slide {position: relative; overflow: hidden; background: yellow;}
#main-visual div.image-slide p.dummy {opacity: 0;}
#main-visual div.image-slide ul.slide {position: absolute; left: 0; top: 0; width: 100%; height: 100%;}
#main-visual div.image-slide ul.slide > li {position: absolute; left: 0; top: 0; width: 100%; height: 100%; display: none;}
#main-visual div.image-slide ul.slide > li:first-child {display: block;}
#main-visual div.image-slide ul.slide > li::before {content: ''; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: linear-gradient(to bottom, rgba(5,20,31,0.6) 0%, rgba(255,255,255,0) 100%);}
#main-visual div.image-slide ul.slide > li em {position: absolute; top: 160px; width: 100%; text-align: center; font-size: 38px; color: #fff; text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);}
#main-visual div.image-slide ul.slide > li a {position: absolute; top: 310px; left:50%; transform: translate(-50%,0); text-align: center; min-width: 180px; line-height: 40px; padding: 0 20px; background: #05141f; color: #fff; font-size: 18px;}
#main-visual div.image-slide div.inidcator {position: absolute; bottom: 180px; left: 0; width: 100%; text-align: center;}
#main-visual div.image-slide div.inidcator > ul {display: inline-block; vertical-align: middle;margin-right: 20px;}
#main-visual div.image-slide div.inidcator > ul::after {content: ''; display: block; clear: both;}
#main-visual div.image-slide div.inidcator > ul > li {float: left;}
#main-visual div.image-slide div.inidcator > ul > li + li {margin-left: 20px;}
#main-visual div.image-slide div.inidcator > ul > li > a {display: block; width: 12px; height: 12px; background: #f9f9f9; border: 1px solid #cdd0d2; overflow: hidden; text-indent: -9999px; border-radius: 100px;}
#main-visual div.image-slide div.inidcator > ul > li.on > a {width: 50px; background: #000;}
#main-visual div.image-slide div.inidcator a.play {display: inline-block; width: 24px; height: 24px; border-radius: 100%; overflow: hidden; box-sizing: border-box; background-color: #05141f; color: #fff; vertical-align: middle;}
#main-visual div.image-slide p.control a {position: absolute; top: 50%; transform: translate(0,-50%); width: 50px; height: 100px; text-indent: -9999px; overflow: hidden;}
#main-visual div.image-slide p.control a::before {content: ''; position: absolute;left: 50%; top: 50%; transform: translate(-50%,-50%) rotate(45deg); width: 100px; height: 100px; border: 2px solid #fff; box-sizing: border-box; box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.2), 2px 2px 5px 0 rgba(0, 0, 0, 0.2) inset;}

#main-visual div.image-slide p.control a.prev {left: 50px;}
#main-visual div.image-slide p.control a.prev::before {left: calc(50% + 50px);}
#main-visual div.image-slide p.control a.next {right: 50px;}
#main-visual div.image-slide p.control a.next::before {left: calc(50% - 50px);}

#main-visual ul.quick-link {background: #fff; position: absolute; left: 50%; bottom: -30px; transform: translate(-50%, 0); width: 1000px; box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);}
#main-visual ul.quick-link > li {float: left; width: 200px; box-sizing: border-box;}
#main-visual ul.quick-link > li + li {border-left: 1px solid #ddd;}
#main-visual ul.quick-link > li > a {display: block; height: 170px; position: relative; transition: all .3s ease;}
#main-visual ul.quick-link > li > a em {display: block; text-align: center; position: relative; top: 50%; left: 50%; transform: translate(-50%,-50%); font-size: 16px;}
#main-visual ul.quick-link > li > a em::before {content: ''; display: block; width: 50px; height: 50px; margin: 0 auto 10px auto; background: url('../img/icons-main.webp') 0 0 no-repeat;}
#main-visual ul.quick-link > li:nth-child(1) > a em::before {background-position: 0 0;}
#main-visual ul.quick-link > li:nth-child(2) > a em::before {background-position: -50px 0;}
#main-visual ul.quick-link > li:nth-child(3) > a em::before {background-position: -100px 0;}
#main-visual ul.quick-link > li:nth-child(4) > a em::before {background-position: -150px 0;}
#main-visual ul.quick-link > li:nth-child(5) > a em::before {background-position: -200px 0;}
#main-visual ul.quick-link > li > a:hover em::before {background-position-y: -50px;}
#main-visual ul.quick-link > li > a:hover {background-color: #05141f; color: #fff;}

#main-best {padding-top: 130px; position: relative;}
#main-best .image-slide {width: 10000px; margin: 0 auto; text-align: center;}
#main-best .image-slide ul::after {content: ''; display: block; clear: both;}
#main-best .image-slide ul li {float: left;}
#main-best .image-slide ul li a {display: block;}
#main-best .image-slide ul li img {display: block; max-width: 500px;}
#main-best .image-slide ul li em {padding-bottom: 10px; font-size: 24px;color: #05141f;}
#main-best .image-slide ul li p {padding-bottom: 10px; font-size: 13px; font-weight: 400; color: rgba(5,20,31,0.6);}
#main-best .image-slide ul li p span {font-weight: 700; color: #05141f;}

#main-promotion {padding-top: 130px; position: relative; margin: 0 auto; max-width: 1400px;}
#main-promotion::after {content: ''; display: block; clear: both;}
#main-promotion h3 {text-align: left;}
#main-promotion ul li {display: none;}
#main-promotion ul li.on {display: block;}
#main-promotion ul li a {display: block;}
#main-promotion ul li em {font-size: 24px; font-weight: 700; margin-bottom: 10px; vertical-align: middle;}
#main-promotion ul li p {font-size: 14px; color: rgba(5,20,31,0.6);}

#main-promotion .event_kia {width: 60%; position: relative; float: left;}
#main-promotion .event_kia ul li a img {display: block; max-width: 665px; margin-bottom: 50px; width: 100%; position: relative;}
#main-promotion .event_kia ul li a img::after {position: absolute;top: 9.6%;left: 11.4%;z-index: -1;width: 103.2%;height: 100%;background: rgba(5,20,31,0.03);content: '';}
#main-promotion .event_kia ul li p span {font-size: inherit; color: #000; font-weight: 500; margin-right: 5px;}

#main-promotion .channer_kia {width: calc(100% - 60%); margin-top: 50px; position: relative; float: right;}
#main-promotion .channer_kia ul li a img {display: block; max-width: 522px; margin-bottom: 50px; width: 100%;}
#main-promotion .channer_kia ul li span {padding: 8px 16px; margin-right: 10px; box-sizing: border-box; border: 1px solid #666; font-size: 14px; color: #05141f; font-weight: 700; vertical-align: middle;}



#main-esg {max-width: 1400px; margin: 0 auto;}
#main-esg .image-slide {position: relative;}
#main-esg ul li {display: none;}
#main-esg ul li.on {display: block;}
#main-esg ul li a {display: block; position: relative;}
#main-esg ul li a img {display: block; width: 100%;}
#main-esg ul li a em {position: absolute; top:15%; left: 50%; transform: translateX(-50%); text-align: center; font-size: 43px; line-height: 1.5; font-weight: 700; width: 100%; color: #fff; word-break: keep-all;}


#main-cs {max-width: 1400px; margin: 0 auto;}



/*module*/
.main-cont-tit {font-size: 40px; font-weight: 700; color: #05141f; line-height: 1; text-align: center; margin-bottom: 50px;}















/*media query*/
@media only screen and (max-width: 1500px) {
  #header > div.top ul.pr {left: 30px;}
  #gnb > ul.content {left: 30px; width: calc(100% - 60px);}
  #header > div.top ul.function,
  #gnb > ul.etc {right: 30px;}
}





.custom-scroll {overflow: auto;}
.custom-scroll::-webkit-scrollbar {
  width: 10px;
}
.custom-scroll::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid transparent;
  transition: background-color 0.3s;
}
.custom-scroll:hover::-webkit-scrollbar-thumb {
  background-color: #e8e8e8;
}
.custom-scroll::-webkit-scrollbar-track {
  background-color: transparent;
}


/* animation keyframes */
/*
@keyframes show-up {
  0% {transform: translate(0, 50px); opacity: 0;}
  100% {transform: translate(0, 0); opacity: 1;}
}
@keyframes btn-effect-right {
  0% {transform: translate(0, 0);}
  100% {transform: translate(5px, 0);}
}
#main-faq a.more:hover i {animation: btn-effect-right 0.3s ease 0s infinite alternate forwards;}


@media only screen and (max-width: 1500px) {
  body {}
}

#gnb > ul > li::after {content: '\f111'; font-family: 'Font Awesome 5 Free'; font-weight: 400;}
#gnb > ul > li::after {content: '\f192'; font-family: 'Font Awesome 5 Free'; font-weight: 400;}
far : font-weight: 400, fas : font-weight: 700;
*/
