<!DOCTYPE html>
<html lang="ko">
<head>
    <%-include('../../_templates/_head.ejs')%>
</head>

<body id="main-page">
    <div id="wrapper">
        <%-include('../../_templates/_header.ejs')%>
        <main class="main">
            <h2 class="blind">인터랙션 구현 페이지</h2>
            <section class="">
                <h3 class="content-head">인터랙션 구현 ani-001</h3>
                <div class="content-body">
                    
                </div>
            </section>
        </main>
        <%-include('../../_templates/_footer.ejs')%>
    </div>
</body>

</html>