* {
	/* border: 1px solid red; */
	
}
#wrap {
	position: relative;
	width: 100%;
}
#wrap_section {
	width: 1100px;
	margin: 0 auto;
}

/* 헤더 */
.header_wrap {
	position: relative;
	width: 100%;
	
}
.header {
	position: relative;
}
.header a {
	color: #666;
}
.top_menu_wrap {
	border-bottom: 1px solid rgba(255,255,255,0.2);
	background-color: #fff;
	border-bottom: 1px solid #351f67;
}
.top_menu {
	position: relative;
	width: 100%;
	height: 90px;
	
}
.top_menu .top_menu_left {
	position: absolute;
	top: 15px;
	left: 0;
	font-size: 13px;
}
.top_menu .top_menu_left::after {
	content: '';
	display: block;
	clear: both;
}
.top_menu .top_menu_left > li {
	float: left;
}
.top_menu .top_menu_left > li > a {
	color: #888;
	margin-right: 20px;
}
.top_menu .top_menu_right {
	position: absolute;
	top: 15px;
	right: 0;
	font-size: 13px;
}
.top_menu .top_menu_right::after {
	content: '';
	display: block;
	clear: both;
}
.top_menu .top_menu_right > li {
	float: left;
}
.top_menu .top_menu_right > li > a {
	color: #888;
	margin-left: 20px;
}
.top_ads_box {
	width: 100%;
	height: 80px;
	background-color: #4f79a9;
}



/* 메인 메뉴 */
.main_menu {
	width: 100%;
	height: 90px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9999;
}
.main_menu .main_logo {
	position: absolute;
	line-height: 80px;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
}
/* .main_menu .main_logo > a > img {
	animation: heartBeat;
	animation-duration: 2s;
} */

.main_menu .gnb_icon_left {
	position: absolute;
	top: 40px;
	left: 0;
	z-index: 9999;
}
.main_menu .gnb_icon_left a {
	width: 36px;
	height: 36px;
	display: inline-block;
} 
.main_menu .gnb_icon_left a.dropdown_button {
	background: url(../img/ico-sitemap.png) no-repeat;
	background-position: center center;
	margin-right: 5px;
}
.main_menu .gnb_icon_left a.dropdown_button.on {
	background: url(../img/btn-header-layer-close.png) no-repeat;
	background-position: center center;
}
.main_menu .gnb_icon_left a.search_btn {
	background: url(../img/ico-search.png) no-repeat;
	background-position: center center;
}
.main_menu .gnb_icon_left a.search_btn.on {
	background: url(../img/btn-header-layer-close.png) no-repeat;
	background-position: center center;
}
.main_menu .gnb_icon_right {
	position: absolute;
	top: 43px;
	right: 0;
}
.main_menu .gnb_icon_right a {
	padding-left: 10px;
}


.main_menu_list.left, .main_menu_list.right {
	position: absolute;
	top: 50px;
	width: 40%;
}
.main_menu_list.left {
	left: 0;
	padding-left: 160px;
}
.main_menu_list.right {
	right: 80px;
	padding-left: 160px;
}
.main_menu_list.left::after, .main_menu_list.right::after {
	content: '';
	display: block;
	clear: both;
}
.main_menu_list.left > li {
	float: left;
	width:calc(100% / 3);
}
.main_menu_list.right > li {
	float: left;
	width:calc(100% / 3);
}
.main_menu_list .menu_1depth {
	padding-bottom: 18px;
	font-weight: bold;
	font-size: 16px;
}
.main_menu_list .sub_menu { /*서브메뉴 배경 가로 100% 파란색*/
	opacity: 0;
	display: inline-block;
    position: absolute;
	top: 40px;
	left: 0;
	right: 0;
    width: 100%;
    height: 42px;
	visibility: hidden;
	background-color: #339eb2;
}
.main_menu_list .sub_menu li a {
    display: inline-block;
	padding: 10px 20px 0 0;
	color: #fff;

}
.main_menu_list > li:hover .sub_menu {
    opacity: 1;
    visibility: visible;
}
.main_menu_list .menu_1depth:hover {
	border-bottom: 3px solid #fff;
}
.main_menu_list .sub_menu::after{
	content: '';
	display: block;
	clear: both;
}
.main_menu_list .sub_menu > li {
	float: left;
}

/*서브메뉴 위치*/
.main_menu_list li:nth-child(1) .sub_menu {
	left: 66px;
}
.main_menu_list li:nth-child(2) .sub_menu {
	left: 103px;
}
.main_menu_list li:nth-child(3) .sub_menu {
	left: 293px;
}
.main_menu_list li:nth-child(4) .sub_menu {
	left: 36px;
}
.main_menu_list li:nth-child(6) .sub_menu {
	left: 265px;
}


/* 햄버거 클릭 시 전체 메뉴 보이도록 */
#layer_sitemap {
	display: none;
	position: absolute;
	left: 0;
	top: 90px;
	z-index: 99999;
	width: 100%;
	min-width: 1100px;
	height: 810px;
	overflow: auto;
	background-color: #333;
}
.sitemap_wrap {
	overflow: hidden;
	position: relative;
	width: 1100px;
	height: 100%;
	margin: 0 auto;
}
.sitemap_wrap .tit {
	padding: 50px 0 0 0;
	font-size: 20PX;
	color: #fff;
	margin-bottom: 30px;
}
.sitemap_wrap .list_wrap::after {
	content: '';
	display: block;
	clear: both;
}
.list_wrap > div.sitemap_list {
	float: left;
}
.list_wrap > div.sitemap_list.last {
}
.sitemap_list {
	text-align: center;
	padding-left: 25px;
	margin-bottom: -138px;
}
.sitemap_list.second {
	padding-left: 0;
}
.sitemap_list:first-child {
	padding-left: 0;
}
.sitemap_list .tit_depth {
	display: inline-block;
	color: #fff;
	font-size: 17px;
	padding: 15px 60px;
	border-top: 1px solid #444;
	border-bottom: 1px solid #444;
	margin-bottom: 20px;
}
.sitemap_list .tit_depth.last {
	padding: 15px 30px;
}
.sitemap_list .list_depth li {
	padding: 10px 0;
}
.sitemap_list .list_depth li a {
	font-size: 14px;
	color: #999;
}


/* 컨테이너 */
section {
	width: 100%;
	min-width: 1100px;
	min-height: 100%;
}
section .cont_top {
	display: block;
	position: static;
	width: 100%;
	height: 42px;
	background-color: #f8f8fa;
}
section .cont_top .top_txt {
	float: left;
}
section .cont_top .top_txt a {
	color: #666;
	font-size: 14px;
	font-weight: 400;
	line-height: 42px;
	vertical-align: middle;
	margin-right: 5px;
}
section .cont_top .top_txt img {
	width: 13px;
	line-height: 42px;
	margin-bottom: 3px;
}
section .cont_top .top_txt a::after {
	content: '';
	background: url(../img/bg-location-arr.png) no-repeat;
	width: 5px;
	height: 9px;
	display: inline-block;
	margin-left: 10px;
}
section .cont_top .top_txt a:last-child::after {
	content: '';
	background: none;
}

/*컨텐츠*/
section .content {
	width: 100%;
	margin: 0;
	padding: 40px 0 0 0;
}
section::after {
	content: '';
	display: block;
	clear: both;
}
section .content .tit {
	padding: 0 0 30px 0;
    font-size: 27px;
    font-weight: 500;
	letter-spacing: -3px;
	color: #222;
}
/*tap*/
.cont_tap {
	width: 100%;
	height: 45px;
	margin-bottom: 50px;
}
.cont_tap ul {
	width: 100%;    
}
.cont_tap ul::after {
	content: '';
	display: block;
	clear: both;
}
.cont_tap ul li {
	float: left;
	width: 16.5%;
	text-align: center;
	line-height: 45px;
	border: 1px solid #ebebeb;
	border-bottom: 1px solid #503396;
}
.cont_tap ul li a {
	display: block;
}
.cont_tap ul li:first-child {
	border: 1px solid #503396;
	border-bottom: 0;
}
/*slide*/
.cont_slide {
	width: 100%;
	background-color: #f8f8fa;
	padding: 50px 0;
	margin-bottom: 100px;
	position: relative;
}
.slide_wrap .slick-slide {
	margin-left:10px;
	margin-right:10px;
}
.cont_slide .slide_wrap > div {
	/* float: left; */
}
.cont_slide .slide_wrap img {
	margin-bottom: 15px;
	width:100%;
	border-radius: 10px;
}
.cont_slide .slide_wrap p {
	position: relative;
	font-weight: bold;
	letter-spacing: -1px;
}
.cont_slide .slide_wrap p span {
	position: absolute;
	right: 0;
	font-size: 14px;
	font-weight: lighter;
	letter-spacing: 0;
	color: #666;
}
/*슬릭 화살표*/
.cont_slide .slick-arrow {
	z-index: 999;
	width: 50px;
	height:50px;
}
.cont_slide .slick-prev:before, .cont_slide .slick-next:before {
	content:'';
	display:block;
	width:100%;
	height:100%;
    opacity: 1;
	box-shadow: 4px 4px 10px 0 rgba(45,45,45,.3);
	border-radius: 100%;
	background:url(https://img.megabox.co.kr/static/pc/images/event/btn-event-prev-off.png) no-repeat center;
}
.cont_slide .slick-next:before {
	transform: rotate(180deg);

}
/*event_wrap*/
.event_wrap {}
.event_list {
	width: 100%;
	margin-bottom: 70px;
}
.event_tit {
	font-size: 23px;
	font-weight: 400;
	margin-bottom: 20px;
}
.event_list ul {
	
}
.event_list ul::after {
	content: '';
	display: block;
	clear: both;
}
.event_list ul li {
	float: left;
	width: calc((100%) / 4);
	/* width: calc((100% - 60px) / 4); */
}
.event_list ul li a {
	display: inline-block;
	border: 1px solid #cecece;
	height: 350px;
	border-radius: 10px;
	overflow: hidden;
}
.event_list ul li a img {
	width: 243px;
}
.event_list ul li .ev_list_txt{
	padding: 20px 15px;
}
.event_list ul li .ev_list_date{
	padding: 0 15px;
}
.top_btn {
	position: fixed;
	right: 10%;
	bottom: 50px;
	z-index: 9999;
}					



/* 푸터 */
footer {
	width: 100%;
    padding: 50px 0 50px 0;
	position: relative;
	background-color: #f8f8fa;
}
.foot_info {}
.foot_info #wrap_section::after {
	content: '';
	display: block;
	clear: both;
}
.foot_info .foot_brand {
	position: relative;
}
.foot_info .foot_brand .foot_nav {
	margin-bottom: 40px;
}
.foot_info .foot_brand .foot_nav::after {
	content: '';
	display: block;
	clear: both;
}
.foot_info .foot_brand .foot_nav a {
	float: left;
	padding-right: 12px;
	color: #666;
	line-height: 30px;
	font-size: 13px;
}
.foot_info .foot_brand .foot_searh {
	position: absolute;
	top: 0;
	right: 0;
	line-height: 30px;
	padding: 2px 30px;
	border-radius: 100px;
	border: 1px solid rgb(216, 216, 216);
}
.foot_info .foot_brand .foot_searh a {
	font-size: 13px;
	color: #666;
}
.foot_info .foot_brand .foot_searh a i {
	margin-right: 10px;
	font-size: 15px;
}
.foot_info .foot_logo {
	float: left;
	margin-right: 20px;
}
.foot_info .foot_info_txt {
	float: left;
	font-size: 13px;
	line-height: 18px;
	color: #666;
}
.foot_info .foot_sns {
	float: right;
}
.foot_info .foot_sns a {
	padding-left: 5px;
}
.foot_info .foot_sns a img {
	width: 30px;
	animation: bounceIn;
	animation-duration: 1s;
	animation-delay: 0.2s;
    -webkit-filter: grayscale(100%);
    filter: gray;
}
.foot_info .foot_sns a img:hover {
    -webkit-filter: grayscale(0%);
    filter: none;
}

/*미디어쿼리*/
@media screen and (max-width: 1100px) {
	.top_btn { display: none; } 
}
