@charset "utf-8";

/*font*/
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;800&display=swap');

/*common*/
*, *::before, *::after {box-sizing: border-box;}
html {-webkit-text-size-adjust: none; text-size-adjust: none;}
body {padding: 0; margin: 0; background-color: #2C3333; display: flex; justify-content: center; align-items: center; width: 100vw; height: 100vh; min-width: 1200px; cursor: none; overflow: hidden; font-family: 'Rubik', sans-serif;}
html,body,div,span,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,blockquote,p,address,pre,cite,form,fieldset,input,textarea,select,table,th,td{padding:0;margin:0}
header {margin-bottom: 5%;}
header h1 {font-size: 5rem; color: bisque; font-weight: 800;}
header p {font-size: 1.5rem; font-weight: 400; color: aquamarine;}
footer {margin-top: 5%;}
footer h3 {font-size: 5rem; color: bisque; font-weight: 800;}
.wrapper {text-align: center;}

/*cursor*/
#cursor {position: absolute; top: 0; left: 0; width: 50px; height: 50px; border-radius: 100%; background-color: antiquewhite; transition: .1s; mix-blend-mode: difference;}
header:hover ~ #cursor {width: 100px; height: 100px; background-color: aquamarine;}
footer:hover ~ #cursor {width: 100px; height: 100px; background-color: cornflowerblue;}

/*eyes*/
.eyes {}
.eye {width: 200px; height: 80px; margin: 0 20px; border-radius: 100%; background-color: #F5F2E7; display: inline-block; overflow: hidden; position: relative;}
.ball {width: 50px; height: 50px; border-radius: 100%; display: inline-block; background-color: #395B64; position: absolute; top: 50%; left: 50%; transform:translate(-50%,-50%);}
.ball::after {content: ''; width: 20px; height: 5px; border-radius: 100%; background-color: #F5F2E7; position: absolute; top: 50%; left: 50%; transform:translate(-50%,-50%);}
