@charset "utf-8";

/* 컨텐츠 공통 사항 */
.intro_cont {
    position: relative;
    background-color: #fff;
    height: 750px;
    width: 1020px;
    margin: 0 auto;
  }
  
  /* 컨텐츠 공통 */
  .intro_cont h3 {
    font-size: 43px;
    font-weight: 500;
    font-family: 'Noto Sans KR', sans-serif;
    color: #111111;
    letter-spacing: -2px;
    margin-bottom: 25px;
  }
  .intro_cont p {
    font-size: 15px;
    color: #666;
    letter-spacing: -1px;
    margin-bottom: 35px;
  }
  .intro_cont .cont_btn {
    display: inline-block;
    font-size: 16px;
    color: #111111;
    text-align: center;
    letter-spacing: -1px;
    margin-bottom: 50px;
  }
  .cont_btn a {
    float: left;
    background-color: #f6f6f6;
    border-radius: 10px;
    margin-right: 10px;
    transition: background-color .2s ease;
}
.cont_btn a:hover {
    background-color: #fede22;
}

/* 입출금 통장 section01 */
.section01 {
    position: relative;
}
.section01 .cont_img {
    display: block;
    position: absolute;
    top: 40px;
    left: 0;
    width: 470px;
    z-index: 888;
}
.section01 .cont_img .with_img {
    width: 470px;
    opacity: 0;
    transform: translateX(-50px);
    transition: all 1.5s ease;
}
.section01 .cont_img .with_img.on {
    opacity: 1;
    transform: translateX(0);
    transition: all 1.5s ease;
}
.section01 .cont_txt {
    position: absolute;
    top: 250px;
    right: 50px;
}
.section01 .cont_btn .link_bank {
    display: inline-block;
    padding: 15px 30px;
} 

/* 예금, 적금 section02 */
.section02 {
    position: relative;
    margin-bottom: 50px;
}
.section02 .cont_img {
    position: absolute;
    right: 0;
}
.section02 .cont_img .saving_img {
    width: 440px;
    opacity: 0;
    transition: all 1.5s ease;
}
.section02 .cont_img .saving_img.on {
    opacity: 1;
    transform: translateX(-30px);
    transition: all 1.5s ease;
}




.section02 .con_txt {
    position: absolute;
    top: 200px;
    left: 0;
    margin-left: 30px;
}
.section02 .con_txt img {
    display: block;
    width: 440px;
}
.section02 .cont_btn .link_deposit {
    padding: 15px 50px;
    border-radius: 10px;
}

/* 모임 통장 section03 */
.section03 {
    position: relative;
    background-color: #fff;
}
.section03 .cont_img img {
    display: block;
    position: absolute;
    top: 50px;
    left: 0;
    width: 460px;
    margin-left: 40px;
}
.section03 .cont_img .moim_img {
    width: 460px;
    opacity: 0;
    transform: scale(0.8);
    transition: all 1s ease;
}
.section03 .cont_img .moim_img.on {
    opacity: 1;
    transform: scale(1);
    transition: all 1s ease;
}
.section03 .con_txt {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    margin-right: 65px;
}
.section03 .cont_btn .link_bank {
    padding: 15px 90px;
    border-radius: 10px;
}

/* 26주 section04 */
.section04 {
    position: relative;
    background-color: #fff;
    height: 600px;
}
.section04 .cont_img {
    display: block;
    position: absolute;
    top: 100px;
    right: 0;
    width: 480px;
    margin-right: 30px;
}
.section04 .cont_img .weeks26_img {
    width: 480px;
    opacity: 0;
    transform: rotateY(90deg);
    transition: all 1s ease;
}
.section04 .cont_img .weeks26_img.on {
    opacity: 1;
    transform: rotate(0);
    transition: all 1s ease;
}
.section04 .con_txt {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    margin-left: 65px;
}
.section04 .cont_btn .link_bank {
    padding: 15px 90px;
    border-radius: 10px;
}

/* 해외송금 section05 */
.section05 {
    position: relative;
    width: 100%;
    min-width: 1020px; /*최소가로값*/
    background: url(../img/home-map.png) no-repeat;
    background-position: /* left center */-12% 50%; /*반응형*/
}
.section05 .cont_img {
    width: 1020px;
    margin: 0 auto;
    display: block;
    position: relative;
    top: 40px;
    left: 0;
}
.section05 .cont_img .foreign_img {
    width: 410px;
    opacity: 0;
    transform: translateY(170px);
    transition: all 1.8s ease;
}
.section05 .cont_img .foreign_img.on {
    opacity: 1;
    transform: translateY(-10px);
    transition: all 1.8s ease;
}
.section05 .con_txt {
    position: absolute;
    top: 190px;
    left: 50%;
    margin-left: 90px;
}
.section05 .cont_btn .link_bank {
    padding: 15px 70px;
    border-radius: 10px;
}

/* 서류제출 section06 */
.section06 {
    position: relative;
    width: 100%;
    height: 930px;
    min-width: 1020px;
    background-color: #333b58;
}
.section06 .cont_img img {
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 430px;
    transform: translateX(-50%);
}
.section06 .con_txt {
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
.section06 .con_txt h3 {
    color: #fff;
}
.section06 .con_txt p {
    color: #a8a8a8;
}
.section06 .cont_btn a {
    display: inline-block;
    padding: 15px 25px;
    border-radius: 10px;
    background-color: #626a85;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    transition: background-color .1s ease;
}
.section06 .cont_btn:hover a {
    background-color: #3b4f92;
    color: #fff;
}

/* 체크카드 section07 */
.section07 {
    position: relative;
    background-color: #fff;
    height: 1050px;
}
.section07 .con_txt {
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
.section07 .con_txt h3 {
    color: #111;
}
.section07 .con_txt p {
    color: #555555;
}
.section07 .cont_btn a {
    padding: 15px 25px;
    border-radius: 10px;
}
.section07 .cont_img {
    position: absolute;
    bottom: 100px;
    text-align: center; /*텍스트가 아니어도 적용됨*/
    width: 100%;
    min-width: 1020px;    
}
.section07 .cont_img {
    position: absolute;
    bottom: 100px;
    text-align: center; /*텍스트가 아니어도 적용됨*/
    width: 100%;
    min-width: 1020px;    
}
section.section07 .cont_img .slide_list img {
    width: 300px;   
}

/* 마무리 section08 */
.section08 {
    position: relative;
    width: 100%;
    height: 950px;
    min-width: 1020px;
    background-color: #f6f6f6;
}
.section08::after {
    content:'';
    position:absolute;
    bottom:415px;
    left:0;
    right:0;
    height:1px;
    background:#ddd;
}
.section08 .con_txt {
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
.section08 .con_txt::after {
    content: "";
    display: block;
    clear: both;
    border: 1px solid #333333;
    width: 100px;
    margin: 0 auto;
}
.section08 .cont_img {
    z-index: 1;
    width: 1020px;
    height: 450px;
    /* border: 1px solid red; */
    position: absolute;
    top: 400px;
    left: 50%;
    transform: translateX(-50%);
    
}

.section08 .cont_img img {
    z-index: 1;
    position: absolute;
    top: 0;
    width:1020px;
    left: 50%;
    transform: translateX(-50%);
    
}
.section08 .cont_img .content_list {
  
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    height: auto;
}
.section08 .cont_img .cont_list {
    
    float: left;
    width: 255px;
}
.section08 .cont_img .cont_list:last-child {
    float: right;
}
.section08 .cont_img .cont_list strong {
    
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 18px;
    font-weight: 500;
}
.section08 .cont_img .cont_list p {
    margin-top: 15px;
}
/* .section08::after {
    content: "";
    display: block;
    clear: both;
    position: absolute;
    top: 50%;
    border: 1px solid #f0f0f0;
    width: 100%;
    margin: 0 auto;
}
 마무리부분 가운데 보더??*/

