@charset "utf-8";

.container {
    width: 100%;
}
.content_box {
    width: 1080px;
    margin: 0 auto;
    padding-top: 140px;
}
.tab-event {
    width: 100%;
    overflow: hidden;
}
.tab-event .tab_item {
    float: left;
    width: 50%;
    text-align: center;
    margin-bottom: 50px;
}
.tab-event .tab_item.on a {
    font-size: 20px;
    color: #111;
    width: 100%;
    border-bottom: 2px solid #333;
    display: block;
    padding: 20px;
}
.tab-event .tab_item a {
    font-size: 20px;
    color: #ccc;
    width: 100%;
    border-bottom: 2px solid #ccc;
    display: block;
    padding: 20px;
}


/*이미지 시작*/
.event_content {
    margin: 0 auto;
    width: 1500px;
}
.event_list {
    width: 100%;
}
.event_list::after {
    content: '';
    display: block;
    clear: both;
}
.event_list_item {
    float: left;
    margin: 0 56px 0 0;
}
.event_list_item img {
    width: 510px;
    border-radius: 12px;
    margin-bottom: 10px;
}
.txt_area em {
    display: inline-block;
    font-style: normal;
    font-size: 12px;
    color: rgb(27, 27, 221);
    margin-bottom: 10px;
}
.txt_area p {
    margin-bottom: 7px;
} 
.txt_area span {
    display: inline-block;
    font-size: 12px;
    color: #888;
    margin-bottom: 50px;
}