<!DOCTYPE html>
<html lang="ko">

<head>
    <%-include('../_templates/_head.ejs')%>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            
        });
    </script>
</head>

<body id="body">
    <div id="wrap" class="pf-gallery-main">
        <%-include('../_templates/_header.ejs')%>
        <div class="local-body" id="content">
            <h2 class="blind">홍수기 그림 갤러리</h2>
            <!-- intro -->
            <section id="intro" class="intro">
                <div class="section-inner">
                    <div class="section-wrap">
                        <div class="section-head">
                            <h3 class="subject">gallery Ansik</h3>
                            <span class="summary">그림그리는안식이의 일러스트 갤러리 사이트</span>
                        </div>
                        <div class="section-figure">
                            <div class="figure-list">
                                <div class="figure-item"><img src="" alt=""></div>
                                <div class="figure-item"><img src="" alt=""></div>
                                <div class="figure-item"><img src="" alt=""></div>
                                <div class="figure-item"><img src="" alt=""></div>
                                <div class="figure-item"><img src="" alt=""></div>
                            </div>
                        </div>
                        <div class="section-util">
                            <div class="util-list">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- //intro -->
            
        </div>
        <%-include('../_templates/_aside.ejs')%>
        <%-include('../_templates/_footer.ejs')%>
    </div>
</body>

</html>