<!DOCTYPE html>
<html lang="ko">
<head>
    <%-include('../../_templates/_head.ejs')%>
</head>

<body id="main-page">
    <div id="wrapper">
        <%-include('../../_templates/_header.ejs')%>
        <main id="main">
            <h2 class="blind">UI개발자, 퍼블리셔 홍수기 포트폴리오 웹사이트</h2>
            <section id="intro" class="intro">
                <h3 class="content-head">
                    <span>HELLO WORLD! 테스트중이다!!!!! 하하하!!!3시커밋예정이다!!</span>
                    <span class="eng fancy">I'M SU GI HONG<br /> WEB PUBLISHER</span>
                </h3>
            </section>
            <section id="aboutme" class="aboutme">
                <h3 class="content-head">
                    <span class="tit eng">WHO AM I</span>
                </h3>
                <div class="content-body">
                    <article class="edu">
                        <h4>EDUCATION</h4>
                        <ul>
                            <li>
                                <em>아카데미 정글 프론트엔드 개발 취업 아카데미</em>
                                <p>
                                    UI개발, 프론트엔드 개발 실무, 전반적인 백엔드 기초
                                    <span>2022.JAN ~ 2022.APR</span>
                                </p>
                            </li>
                            <li>
                                <em>경기IT일자리센터 UI/UX 퍼블리셔 과정</em>
                                <p>
                                    HTML5, CSS3, JavaScript, jQuery
                                    <span>2020.MAY ~ 2020.AUG</span>
                                </p>
                            </li>
                            <li>
                                <em>한양여자대학교 조형일러스트레이션학과</em>
                                <p>
                                    Illustration, Adobe Program
                                    <span>2010.FAB ~ 2012.FAB</span>
                                </p>
                            </li>
                        </ul>
                    </ㅁ>
                    <div class="career">
                        <h4>CAREER</h4>
                        <ul>
                            <li>
                                <em>펜타브리드</em>
                                <p>
                                    Web Publisher, PIX Developer Team<br>
                                    <span>2021.SEP ~</span>
                                </p>
                            </li>
                            <li>
                                <em>CTTD</em>
                                <p>
                                    Web Publisher, Developer Team<br>
                                    <span>2022.JUN ~ 2022.SEP</span>
                                </p>
                            </li>
                            <li>
                                <em>용감한컴퍼니</em>
                                <p>
                                    Web Publisher, Developer Team<br>
                                    <span>2021.FEB ~ 2021.DEC</span>
                                </p>
                            </li>
                        </ul>
                    </div>
                    <div class="skill">
                        <h4>TECH STACK</h4>
                        <ul>
                            <li>HTML5</li>
                            <li>CSS3</li>
                            <li>JavaScript</li>
                            <li>jQuery</li>
                            <li>Pigma</li>
                            <li>Adobe XD</li>
                            <li>SCSS</li>
                            <li>GSAP</li>
                            <li>GULP</li>
                            <li>GIT</li>
                        </ul>
                        <ul class="skill-list">
                            <li>
                                <em>Front-End</em>
                                <ul>
                                    <li>협업</li>
                                    <li>유지보수 재사용</li>
                                    <li>페이지 구조 태그 의미 마크업 작성</li>
                                    <li>접근성</li>
                                    <li>scss</li>
                                </ul>
                            </li>
                            <li>
                                <em>Tools</em>
                                <span>vscode,git을 이용한 형상관리,걸프세팅가능,협업</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
            <section id="project" class="project">
                <div class="content-box">
                    <h3 class="tit eng">PROJECT</h3>
                    
                    
                </div>
            </section>
            <section id="contact" class="contact">
                <div class="content-box">
                    <h3 class="tit eng">PLEASE CONTACT ME</h3>
                    <div class="contact-box">
                        <a href="mailto:doitlock@gmail.com">E-mail 📩</a>
                    </div>
                </div>
            </section>
        </main>
        <%-include('../../_templates/_footer.ejs')%>
    </div>
</body>

</html>